//
// Created with TexturePacker - https://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:36cc6731aa7a2fe9b38d4349adba936e:c7624144352f614c3099ddde1515e018:2ea1514dfe8f16646cf33d98c843b05a$
//

.sprite-icon-md { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('icon-md.png'); }

.icon-md-_2 { width: 134px; height: 138px; background-position: -1526px -276px; }
.icon-md-_5 { width: 86px; height: 97px; background-position: -345px -275px; }
.icon-md-_6 { width: 86px; height: 98px; background-position: -433px -275px; }
.icon-md-_7 { width: 86px; height: 98px; background-position: -521px -275px; }
.icon-md-_9 { width: 119px; height: 117px; background-position: -1285px -276px; }
.icon-md-_10 { width: 68px; height: 108px; background-position: -767px -276px; }
.icon-md-_11 { width: 119px; height: 108px; background-position: -837px -276px; }
.icon-md-_12 { width: 68px; height: 107px; background-position: -697px -275px; }
.icon-md-_13 { width: 118px; height: 125px; background-position: -1406px -276px; }
.icon-md-_14 { width: 119px; height: 115px; background-position: -1164px -276px; }
.icon-md-_15 { width: 117px; height: 108px; background-position: -958px -276px; }
.icon-md-avessy-status { width: 85px; height: 110px; background-position: -1077px -276px; }
.icon-md-circle-gray { width: 86px; height: 98px; background-position: -609px -275px; }
.icon-md-cross-red { width: 82px; height: 87px; background-position: -1px -1px; }
.icon-md-home-yellow { width: 84px; height: 90px; background-position: -430px -91px; }
.icon-md-i_1 { width: 84px; height: 88px; background-position: -85px -1px; }
.icon-md-i_2 { width: 84px; height: 88px; background-position: -171px -1px; }
.icon-md-i_3 { width: 84px; height: 88px; background-position: -257px -1px; }
.icon-md-i_4 { width: 85px; height: 88px; background-position: -343px -1px; }
.icon-md-i_5 { width: 84px; height: 88px; background-position: -430px -1px; }
.icon-md-i_6 { width: 84px; height: 88px; background-position: -516px -1px; }
.icon-md-i_7 { width: 84px; height: 88px; background-position: -602px -1px; }
.icon-md-i_8 { width: 84px; height: 88px; background-position: -688px -1px; }
.icon-md-i_9 { width: 84px; height: 88px; background-position: -774px -1px; }
.icon-md-i_19 { width: 84px; height: 90px; background-position: -1290px -92px; }
.icon-md-i_20 { width: 84px; height: 90px; background-position: -1376px -92px; }
.icon-md-i_21 { width: 84px; height: 90px; background-position: -1462px -92px; }
.icon-md-i_22 { width: 85px; height: 90px; background-position: -1548px -92px; }
.icon-md-i_23 { width: 84px; height: 90px; background-position: -1635px -92px; }
.icon-md-i_24 { width: 84px; height: 90px; background-position: -1721px -92px; }
.icon-md-i_25 { width: 84px; height: 90px; background-position: -1807px -92px; }
.icon-md-i_26 { width: 84px; height: 90px; background-position: -1893px -92px; }
.icon-md-i_27 { width: 84px; height: 90px; background-position: -1px -182px; }
.icon-md-i_38 { width: 84px; height: 89px; background-position: -860px -1px; }
.icon-md-i_39 { width: 84px; height: 89px; background-position: -946px -1px; }
.icon-md-i_40 { width: 84px; height: 89px; background-position: -1032px -1px; }
.icon-md-i_41 { width: 85px; height: 89px; background-position: -1118px -1px; }
.icon-md-i_42 { width: 84px; height: 89px; background-position: -1205px -1px; }
.icon-md-i_43 { width: 84px; height: 89px; background-position: -1291px -1px; }
.icon-md-i_44 { width: 85px; height: 89px; background-position: -1377px -1px; }
.icon-md-i_45 { width: 84px; height: 89px; background-position: -1464px -1px; }
.icon-md-i_55 { width: 83px; height: 90px; background-position: -87px -182px; }
.icon-md-i_56 { width: 84px; height: 90px; background-position: -172px -182px; }
.icon-md-i_57 { width: 84px; height: 90px; background-position: -258px -182px; }
.icon-md-i_58 { width: 85px; height: 90px; background-position: -430px -183px; }
.icon-md-i_59 { width: 84px; height: 90px; background-position: -344px -182px; }
.icon-md-i_60 { width: 83px; height: 90px; background-position: -517px -183px; }
.icon-md-i_61 { width: 85px; height: 90px; background-position: -602px -183px; }
.icon-md-i_62 { width: 85px; height: 90px; background-position: -689px -183px; }
.icon-md-i_63 { width: 85px; height: 90px; background-position: -776px -184px; }
.icon-md-i_73 { width: 84px; height: 90px; background-position: -863px -184px; }
.icon-md-i_74 { width: 84px; height: 90px; background-position: -949px -184px; }
.icon-md-i_75 { width: 85px; height: 90px; background-position: -1035px -184px; }
.icon-md-i_76 { width: 84px; height: 90px; background-position: -1122px -184px; }
.icon-md-i_78 { width: 84px; height: 90px; background-position: -1208px -184px; }
.icon-md-i_80 { width: 84px; height: 90px; background-position: -1294px -184px; }
.icon-md-i_81 { width: 85px; height: 90px; background-position: -1380px -184px; }
.icon-md-i_82 { width: 84px; height: 90px; background-position: -1467px -184px; }
.icon-md-i_83 { width: 84px; height: 90px; background-position: -1553px -184px; }
.icon-md-i_84 { width: 84px; height: 90px; background-position: -1639px -184px; }
.icon-md-i_85 { width: 83px; height: 90px; background-position: -1725px -184px; }
.icon-md-i_86 { width: 85px; height: 90px; background-position: -1810px -184px; }
.icon-md-i_87 { width: 84px; height: 90px; background-position: -1px -274px; }
.icon-md-i_88 { width: 84px; height: 90px; background-position: -87px -274px; }
.icon-md-i_89 { width: 84px; height: 90px; background-position: -173px -274px; }
.icon-md-i_90 { width: 83px; height: 90px; background-position: -1897px -184px; }
.icon-md-i_91 { width: 83px; height: 89px; background-position: -1550px -1px; }
.icon-md-i_92 { width: 84px; height: 89px; background-position: -1635px -1px; }
.icon-md-i_93 { width: 85px; height: 89px; background-position: -1721px -1px; }
.icon-md-i_94 { width: 84px; height: 89px; background-position: -1808px -1px; }
.icon-md-i_95 { width: 85px; height: 89px; background-position: -1894px -1px; }
.icon-md-i_96 { width: 84px; height: 89px; background-position: -1px -91px; }
.icon-md-i_97 { width: 84px; height: 89px; background-position: -87px -91px; }
.icon-md-i_98 { width: 84px; height: 89px; background-position: -173px -91px; }
.icon-md-i_99 { width: 84px; height: 89px; background-position: -259px -91px; }
.icon-md-i_100 { width: 84px; height: 90px; background-position: -516px -91px; }
.icon-md-i_101 { width: 84px; height: 90px; background-position: -602px -91px; }
.icon-md-i_102 { width: 84px; height: 90px; background-position: -688px -91px; }
.icon-md-i_103 { width: 83px; height: 90px; background-position: -774px -91px; }
.icon-md-i_104 { width: 85px; height: 90px; background-position: -859px -92px; }
.icon-md-i_105 { width: 84px; height: 90px; background-position: -946px -92px; }
.icon-md-i_106 { width: 85px; height: 90px; background-position: -1032px -92px; }
.icon-md-i_107 { width: 84px; height: 90px; background-position: -1119px -92px; }
.icon-md-i_108 { width: 83px; height: 90px; background-position: -1205px -92px; }
.icon-md-play-green { width: 83px; height: 89px; background-position: -345px -91px; }
.icon-md-questionmark-yellow { width: 84px; height: 90px; background-position: -259px -274px; }
.icon-md-star-gold { width: 134px; height: 138px; background-position: -1662px -276px; }
.icon-md-star-gray { width: 134px; height: 138px; background-position: -1798px -276px; }
