//
// Created with TexturePacker - https://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:3c9c87e88ac817b53e0e03f251cf62fc:6bb0ca6f0e85bd0a30f77213eb38da03:e1212c21ee4f9efd01ea275035655ad6$
//

.sprite-icon-hd { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('icon-hd.less.png'); }

.icon-hd-cross-red { width: 163px; height: 174px; background-position: -1501px -1600px; }
.icon-hd-home-yellow { width: 165px; height: 176px; background-position: -1px -1px; }
.icon-hd-i_1 { width: 165px; height: 175px; background-position: -669px -891px; }
.icon-hd-i_2 { width: 165px; height: 175px; background-position: -1170px -535px; }
.icon-hd-i_3 { width: 165px; height: 175px; background-position: -1337px -535px; }
.icon-hd-i_4 { width: 165px; height: 175px; background-position: -1504px -535px; }
.icon-hd-i_5 { width: 165px; height: 175px; background-position: -1671px -535px; }
.icon-hd-i_6 { width: 165px; height: 175px; background-position: -836px -712px; }
.icon-hd-i_7 { width: 164px; height: 175px; background-position: -1501px -1246px; }
.icon-hd-i_8 { width: 164px; height: 175px; background-position: -1833px -1245px; }
.icon-hd-i_9 { width: 164px; height: 175px; background-position: -1667px -1422px; }
.icon-hd-i_10 { width: 165px; height: 175px; background-position: -669px -1068px; }
.icon-hd-i_11 { width: 164px; height: 175px; background-position: -1667px -1068px; }
.icon-hd-i_12 { width: 165px; height: 175px; background-position: -669px -1245px; }
.icon-hd-i_13 { width: 164px; height: 175px; background-position: -1833px -1068px; }
.icon-hd-i_14 { width: 165px; height: 175px; background-position: -669px -1422px; }
.icon-hd-i_15 { width: 165px; height: 175px; background-position: -669px -1599px; }
.icon-hd-i_16 { width: 165px; height: 175px; background-position: -836px -535px; }
.icon-hd-i_17 { width: 165px; height: 175px; background-position: -1003px -535px; }
.icon-hd-i_18 { width: 164px; height: 175px; background-position: -1667px -1245px; }
.icon-hd-i_19 { width: 165px; height: 176px; background-position: -1px -1425px; }
.icon-hd-i_20 { width: 165px; height: 176px; background-position: -168px -1px; }
.icon-hd-i_21 { width: 165px; height: 176px; background-position: -168px -179px; }
.icon-hd-i_22 { width: 165px; height: 176px; background-position: -168px -357px; }
.icon-hd-i_23 { width: 165px; height: 176px; background-position: -168px -535px; }
.icon-hd-i_24 { width: 165px; height: 176px; background-position: -168px -713px; }
.icon-hd-i_25 { width: 165px; height: 176px; background-position: -168px -891px; }
.icon-hd-i_26 { width: 164px; height: 176px; background-position: -1003px -1068px; }
.icon-hd-i_27 { width: 164px; height: 176px; background-position: -1003px -1246px; }
.icon-hd-i_28 { width: 165px; height: 176px; background-position: -168px -1069px; }
.icon-hd-i_29 { width: 165px; height: 176px; background-position: -168px -1247px; }
.icon-hd-i_30 { width: 165px; height: 176px; background-position: -168px -1425px; }
.icon-hd-i_31 { width: 164px; height: 176px; background-position: -1003px -1424px; }
.icon-hd-i_32 { width: 165px; height: 176px; background-position: -335px -1px; }
.icon-hd-i_33 { width: 165px; height: 176px; background-position: -502px -1px; }
.icon-hd-i_34 { width: 165px; height: 176px; background-position: -669px -1px; }
.icon-hd-i_35 { width: 165px; height: 176px; background-position: -836px -1px; }
.icon-hd-i_36 { width: 164px; height: 176px; background-position: -1169px -712px; }
.icon-hd-i_38 { width: 165px; height: 176px; background-position: -1003px -1px; }
.icon-hd-i_39 { width: 165px; height: 176px; background-position: -1170px -1px; }
.icon-hd-i_40 { width: 164px; height: 176px; background-position: -1335px -712px; }
.icon-hd-i_41 { width: 165px; height: 176px; background-position: -1337px -1px; }
.icon-hd-i_42 { width: 165px; height: 176px; background-position: -1504px -1px; }
.icon-hd-i_43 { width: 164px; height: 176px; background-position: -1501px -712px; }
.icon-hd-i_44 { width: 165px; height: 176px; background-position: -1671px -1px; }
.icon-hd-i_45 { width: 165px; height: 176px; background-position: -335px -179px; }
.icon-hd-i_46 { width: 164px; height: 176px; background-position: -1667px -712px; }
.icon-hd-i_47 { width: 164px; height: 176px; background-position: -1833px -712px; }
.icon-hd-i_48 { width: 165px; height: 176px; background-position: -335px -357px; }
.icon-hd-i_49 { width: 165px; height: 176px; background-position: -335px -535px; }
.icon-hd-i_50 { width: 165px; height: 176px; background-position: -335px -713px; }
.icon-hd-i_51 { width: 165px; height: 176px; background-position: -335px -891px; }
.icon-hd-i_52 { width: 165px; height: 176px; background-position: -335px -1069px; }
.icon-hd-i_53 { width: 165px; height: 176px; background-position: -335px -1247px; }
.icon-hd-i_54 { width: 165px; height: 176px; background-position: -335px -1425px; }
.icon-hd-i_55 { width: 164px; height: 176px; background-position: -1169px -890px; }
.icon-hd-i_56 { width: 165px; height: 176px; background-position: -502px -179px; }
.icon-hd-i_57 { width: 165px; height: 176px; background-position: -669px -179px; }
.icon-hd-i_58 { width: 165px; height: 176px; background-position: -836px -179px; }
.icon-hd-i_59 { width: 164px; height: 176px; background-position: -1169px -1068px; }
.icon-hd-i_60 { width: 164px; height: 176px; background-position: -1169px -1246px; }
.icon-hd-i_61 { width: 165px; height: 176px; background-position: -1003px -179px; }
.icon-hd-i_62 { width: 165px; height: 176px; background-position: -1170px -179px; }
.icon-hd-i_63 { width: 165px; height: 176px; background-position: -1337px -179px; }
.icon-hd-i_64 { width: 164px; height: 176px; background-position: -1169px -1424px; }
.icon-hd-i_65 { width: 164px; height: 176px; background-position: -1335px -890px; }
.icon-hd-i_66 { width: 165px; height: 176px; background-position: -1504px -179px; }
.icon-hd-i_67 { width: 164px; height: 176px; background-position: -1501px -890px; }
.icon-hd-i_68 { width: 165px; height: 176px; background-position: -1671px -179px; }
.icon-hd-i_69 { width: 165px; height: 176px; background-position: -502px -357px; }
.icon-hd-i_70 { width: 165px; height: 176px; background-position: -502px -535px; }
.icon-hd-i_71 { width: 165px; height: 176px; background-position: -502px -713px; }
.icon-hd-i_72 { width: 164px; height: 176px; background-position: -1667px -890px; }
.icon-hd-i_73 { width: 164px; height: 176px; background-position: -1833px -890px; }
.icon-hd-i_74 { width: 164px; height: 176px; background-position: -1335px -1068px; }
.icon-hd-i_75 { width: 165px; height: 176px; background-position: -502px -891px; }
.icon-hd-i_76 { width: 165px; height: 176px; background-position: -502px -1069px; }
.icon-hd-i_78 { width: 165px; height: 176px; background-position: -502px -1247px; }
.icon-hd-i_80 { width: 165px; height: 176px; background-position: -502px -1425px; }
.icon-hd-i_81 { width: 165px; height: 176px; background-position: -669px -357px; }
.icon-hd-i_82 { width: 165px; height: 176px; background-position: -836px -357px; }
.icon-hd-i_83 { width: 164px; height: 176px; background-position: -1335px -1246px; }
.icon-hd-i_84 { width: 165px; height: 176px; background-position: -1003px -357px; }
.icon-hd-i_85 { width: 164px; height: 176px; background-position: -1335px -1424px; }
.icon-hd-i_86 { width: 165px; height: 176px; background-position: -1170px -357px; }
.icon-hd-i_87 { width: 165px; height: 176px; background-position: -1337px -357px; }
.icon-hd-i_88 { width: 165px; height: 176px; background-position: -1504px -357px; }
.icon-hd-i_89 { width: 165px; height: 176px; background-position: -1671px -357px; }
.icon-hd-i_90 { width: 164px; height: 176px; background-position: -1501px -1068px; }
.icon-hd-i_91 { width: 164px; height: 175px; background-position: -1501px -1423px; }
.icon-hd-i_92 { width: 164px; height: 175px; background-position: -1833px -1422px; }
.icon-hd-i_93 { width: 165px; height: 175px; background-position: -836px -889px; }
.icon-hd-i_94 { width: 164px; height: 175px; background-position: -1667px -1599px; }
.icon-hd-i_95 { width: 165px; height: 175px; background-position: -836px -1066px; }
.icon-hd-i_96 { width: 165px; height: 175px; background-position: -836px -1243px; }
.icon-hd-i_97 { width: 165px; height: 175px; background-position: -836px -1420px; }
.icon-hd-i_98 { width: 165px; height: 175px; background-position: -836px -1597px; }
.icon-hd-i_99 { width: 164px; height: 175px; background-position: -1833px -1599px; }
.icon-hd-i_100 { width: 165px; height: 176px; background-position: -1px -179px; }
.icon-hd-i_101 { width: 165px; height: 176px; background-position: -1px -357px; }
.icon-hd-i_102 { width: 165px; height: 176px; background-position: -1px -535px; }
.icon-hd-i_103 { width: 164px; height: 176px; background-position: -1003px -712px; }
.icon-hd-i_104 { width: 165px; height: 176px; background-position: -1px -713px; }
.icon-hd-i_105 { width: 165px; height: 176px; background-position: -1px -891px; }
.icon-hd-i_106 { width: 165px; height: 176px; background-position: -1px -1069px; }
.icon-hd-i_107 { width: 165px; height: 176px; background-position: -1px -1247px; }
.icon-hd-i_108 { width: 164px; height: 176px; background-position: -1003px -890px; }
.icon-hd-play-green { width: 165px; height: 176px; background-position: -669px -535px; }
.icon-hd-questionmark-yellow { width: 165px; height: 176px; background-position: -669px -713px; }
