//
// Created with TexturePacker - https://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:36cc6731aa7a2fe9b38d4349adba936e:c7624144352f614c3099ddde1515e018:2ea1514dfe8f16646cf33d98c843b05a$
//

.sprite-icon-sd { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('icon-sd.png'); }

.icon-sd-_2 { width: 68px; height: 70px; background-position: -72px -1px; }
.icon-sd-_5 { width: 45px; height: 51px; background-position: -126px -192px; }
.icon-sd-_6 { width: 44px; height: 51px; background-position: -48px -193px; }
.icon-sd-_7 { width: 44px; height: 51px; background-position: -1px -197px; }
.icon-sd-_9 { width: 61px; height: 60px; background-position: -64px -73px; }
.icon-sd-_10 { width: 36px; height: 55px; background-position: -190px -73px; }
.icon-sd-_11 { width: 61px; height: 56px; background-position: -127px -134px; }
.icon-sd-_12 { width: 36px; height: 55px; background-position: -190px -130px; }
.icon-sd-_13 { width: 61px; height: 63px; background-position: -1px -73px; }
.icon-sd-_14 { width: 61px; height: 59px; background-position: -127px -73px; }
.icon-sd-_15 { width: 60px; height: 56px; background-position: -64px -135px; }
.icon-sd-avessy-status { width: 45px; height: 57px; background-position: -1px -138px; }
.icon-sd-circle-gray { width: 45px; height: 51px; background-position: -173px -192px; }
.icon-sd-cross-red { width: 41px; height: 44px; background-position: -181px -920px; }
.icon-sd-home-yellow { width: 44px; height: 47px; background-position: -94px -245px; }
.icon-sd-i_1 { width: 44px; height: 45px; background-position: -1px -688px; }
.icon-sd-i_2 { width: 44px; height: 45px; background-position: -93px -684px; }
.icon-sd-i_3 { width: 44px; height: 45px; background-position: -93px -731px; }
.icon-sd-i_4 { width: 44px; height: 45px; background-position: -47px -732px; }
.icon-sd-i_5 { width: 44px; height: 45px; background-position: -1px -735px; }
.icon-sd-i_6 { width: 44px; height: 45px; background-position: -139px -731px; }
.icon-sd-i_7 { width: 44px; height: 45px; background-position: -93px -778px; }
.icon-sd-i_8 { width: 43px; height: 45px; background-position: -1px -920px; }
.icon-sd-i_9 { width: 44px; height: 45px; background-position: -47px -779px; }
.icon-sd-i_19 { width: 43px; height: 46px; background-position: -139px -825px; }
.icon-sd-i_20 { width: 44px; height: 46px; background-position: -93px -588px; }
.icon-sd-i_21 { width: 44px; height: 46px; background-position: -139px -635px; }
.icon-sd-i_22 { width: 44px; height: 46px; background-position: -47px -636px; }
.icon-sd-i_23 { width: 44px; height: 46px; background-position: -1px -640px; }
.icon-sd-i_24 { width: 44px; height: 46px; background-position: -93px -636px; }
.icon-sd-i_25 { width: 44px; height: 46px; background-position: -139px -683px; }
.icon-sd-i_26 { width: 43px; height: 46px; background-position: -93px -872px; }
.icon-sd-i_27 { width: 44px; height: 46px; background-position: -47px -684px; }
.icon-sd-i_38 { width: 44px; height: 47px; background-position: -47px -246px; }
.icon-sd-i_39 { width: 44px; height: 47px; background-position: -1px -250px; }
.icon-sd-i_40 { width: 43px; height: 47px; background-position: -185px -294px; }
.icon-sd-i_41 { width: 44px; height: 47px; background-position: -140px -245px; }
.icon-sd-i_42 { width: 44px; height: 47px; background-position: -93px -294px; }
.icon-sd-i_43 { width: 44px; height: 47px; background-position: -47px -295px; }
.icon-sd-i_44 { width: 44px; height: 47px; background-position: -1px -299px; }
.icon-sd-i_45 { width: 43px; height: 47px; background-position: -185px -343px; }
.icon-sd-i_55 { width: 43px; height: 47px; background-position: -185px -392px; }
.icon-sd-i_56 { width: 44px; height: 47px; background-position: -139px -294px; }
.icon-sd-i_57 { width: 44px; height: 47px; background-position: -93px -343px; }
.icon-sd-i_58 { width: 44px; height: 47px; background-position: -47px -344px; }
.icon-sd-i_59 { width: 44px; height: 47px; background-position: -1px -348px; }
.icon-sd-i_60 { width: 43px; height: 47px; background-position: -185px -441px; }
.icon-sd-i_61 { width: 44px; height: 47px; background-position: -139px -343px; }
.icon-sd-i_62 { width: 44px; height: 47px; background-position: -93px -392px; }
.icon-sd-i_63 { width: 44px; height: 47px; background-position: -47px -393px; }
.icon-sd-i_73 { width: 43px; height: 47px; background-position: -185px -490px; }
.icon-sd-i_74 { width: 44px; height: 47px; background-position: -1px -397px; }
.icon-sd-i_75 { width: 44px; height: 47px; background-position: -139px -392px; }
.icon-sd-i_76 { width: 44px; height: 47px; background-position: -93px -441px; }
.icon-sd-i_78 { width: 44px; height: 47px; background-position: -47px -442px; }
.icon-sd-i_80 { width: 43px; height: 47px; background-position: -185px -539px; }
.icon-sd-i_81 { width: 44px; height: 47px; background-position: -1px -446px; }
.icon-sd-i_82 { width: 43px; height: 47px; background-position: -185px -588px; }
.icon-sd-i_83 { width: 44px; height: 47px; background-position: -139px -441px; }
.icon-sd-i_84 { width: 44px; height: 47px; background-position: -93px -490px; }
.icon-sd-i_85 { width: 43px; height: 47px; background-position: -185px -637px; }
.icon-sd-i_86 { width: 44px; height: 47px; background-position: -47px -491px; }
.icon-sd-i_87 { width: 44px; height: 47px; background-position: -1px -495px; }
.icon-sd-i_88 { width: 44px; height: 47px; background-position: -139px -490px; }
.icon-sd-i_89 { width: 44px; height: 47px; background-position: -93px -539px; }
.icon-sd-i_90 { width: 42px; height: 47px; background-position: -186px -245px; }
.icon-sd-i_91 { width: 43px; height: 45px; background-position: -46px -920px; }
.icon-sd-i_92 { width: 44px; height: 45px; background-position: -1px -782px; }
.icon-sd-i_93 { width: 44px; height: 45px; background-position: -139px -778px; }
.icon-sd-i_94 { width: 43px; height: 45px; background-position: -46px -873px; }
.icon-sd-i_95 { width: 43px; height: 45px; background-position: -91px -920px; }
.icon-sd-i_96 { width: 44px; height: 45px; background-position: -93px -825px; }
.icon-sd-i_97 { width: 43px; height: 45px; background-position: -136px -920px; }
.icon-sd-i_98 { width: 43px; height: 45px; background-position: -138px -873px; }
.icon-sd-i_99 { width: 44px; height: 45px; background-position: -47px -826px; }
.icon-sd-i_100 { width: 43px; height: 46px; background-position: -185px -784px; }
.icon-sd-i_101 { width: 44px; height: 46px; background-position: -47px -540px; }
.icon-sd-i_102 { width: 44px; height: 46px; background-position: -1px -544px; }
.icon-sd-i_103 { width: 43px; height: 46px; background-position: -1px -829px; }
.icon-sd-i_104 { width: 44px; height: 46px; background-position: -139px -539px; }
.icon-sd-i_105 { width: 44px; height: 46px; background-position: -139px -587px; }
.icon-sd-i_106 { width: 44px; height: 46px; background-position: -47px -588px; }
.icon-sd-i_107 { width: 44px; height: 46px; background-position: -1px -592px; }
.icon-sd-i_108 { width: 42px; height: 46px; background-position: -184px -832px; }
.icon-sd-play-green { width: 43px; height: 47px; background-position: -185px -686px; }
.icon-sd-questionmark-yellow { width: 43px; height: 47px; background-position: -185px -735px; }
.icon-sd-star-gold { width: 67px; height: 70px; background-position: -142px -1px; }
.icon-sd-star-gray { width: 69px; height: 70px; background-position: -1px -1px; }
