extend ../dust

block headcontent
	title dust .

block bodycontent
	framebase#notdarik
		include:markdown-it darik.md

	framebase#psst0.private-0
		avessy 🧃🧃🧃
		avessy Псст, Нем. Сходи к этому чуваку, спроси где достать авесси. И как запустить локально.
		avassy Чем большого идиота будешь из себя строить - тем интереснее. Бибу или Бобу - сам выбирай.
		avessy Очевидно что ПОТРАЧЕНО, если ты спалился.
