//
// Created with TexturePacker - https://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:e99a31674c79cc03a59bbfdc36916f59:7a0cb0560a779b14e0fd317ceb4d6db5:c89903e5e237e56f2f50f8011db59f27$
//

.sprite-boardgame_icons-gold-md { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('boardgame_icons-gold-md.png'); }

.boardgame_icons-gold-md-_1 { width: 57px; height: 54px; background-position: -545px -143px; }
.boardgame_icons-gold-md-_2 { width: 58px; height: 54px; background-position: -801px -261px; }
.boardgame_icons-gold-md-_3 { width: 64px; height: 68px; background-position: -419px -73px; }
.boardgame_icons-gold-md-_4 { width: 64px; height: 68px; background-position: -488px -1px; }
.boardgame_icons-gold-md-_5 { width: 53px; height: 56px; background-position: -786px -487px; }
.boardgame_icons-gold-md-_6 { width: 53px; height: 56px; background-position: -689px -550px; }
.boardgame_icons-gold-md-_7 { width: 53px; height: 56px; background-position: -785px -545px; }
.boardgame_icons-gold-md-_8 { width: 65px; height: 32px; background-position: -140px -397px; }
.boardgame_icons-gold-md-_9 { width: 55px; height: 56px; background-position: -797px -372px; }
.boardgame_icons-gold-md-_10 { width: 52px; height: 32px; background-position: -434px -886px; }
.boardgame_icons-gold-md-_11 { width: 48px; height: 36px; background-position: -263px -534px; }
.boardgame_icons-gold-md-_12 { width: 60px; height: 60px; background-position: -546px -814px; }
.boardgame_icons-gold-md-_13 { width: 63px; height: 62px; background-position: -263px -470px; }
.boardgame_icons-gold-md-_14 { width: 58px; height: 60px; background-position: -513px -258px; }
.boardgame_icons-gold-md-_16 { width: 51px; height: 54px; background-position: -840px -603px; }
.boardgame_icons-gold-md-_17 { width: 43px; height: 65px; background-position: -196px -777px; }
.boardgame_icons-gold-md-_18 { width: 39px; height: 53px; background-position: -744px -525px; }
.boardgame_icons-gold-md-_19 { width: 53px; height: 61px; background-position: -513px -320px; }
.boardgame_icons-gold-md-_20 { width: 46px; height: 57px; background-position: -428px -504px; }
.boardgame_icons-gold-md-_21 { width: 65px; height: 48px; background-position: -141px -217px; }
.boardgame_icons-gold-md-_22 { width: 64px; height: 48px; background-position: -207px -406px; }
.boardgame_icons-gold-md-_23 { width: 50px; height: 57px; background-position: -525px -443px; }
.boardgame_icons-gold-md-_24 { width: 54px; height: 57px; background-position: -870px -250px; }
.boardgame_icons-gold-md-_25 { width: 64px; height: 61px; background-position: -1px -863px; }
.boardgame_icons-gold-md-_26 { width: 40px; height: 53px; background-position: -744px -470px; }
.boardgame_icons-gold-md-_27 { width: 64px; height: 61px; background-position: -207px -343px; }
.boardgame_icons-gold-md-_28 { width: 64px; height: 61px; background-position: -273px -407px; }
.boardgame_icons-gold-md-_29 { width: 50px; height: 58px; background-position: -476px -502px; }
.boardgame_icons-gold-md-_30 { width: 64px; height: 61px; background-position: -340px -319px; }
.boardgame_icons-gold-md-_31 { width: 50px; height: 58px; background-position: -521px -383px; }
.boardgame_icons-gold-md-_32 { width: 60px; height: 64px; background-position: -216px -572px; }
.boardgame_icons-gold-md-_33 { width: 52px; height: 56px; background-position: -715px -783px; }
.boardgame_icons-gold-md-_34 { width: 61px; height: 64px; background-position: -237px -638px; }
.boardgame_icons-gold-md-_35 { width: 60px; height: 64px; background-position: -241px -704px; }
.boardgame_icons-gold-md-_36 { width: 60px; height: 64px; background-position: -241px -770px; }
.boardgame_icons-gold-md-_37 { width: 61px; height: 64px; background-position: -248px -836px; }
.boardgame_icons-gold-md-_38 { width: 61px; height: 64px; background-position: -278px -572px; }
.boardgame_icons-gold-md-_39 { width: 61px; height: 64px; background-position: -300px -638px; }
.boardgame_icons-gold-md-_40 { width: 35px; height: 50px; background-position: -508px -203px; }
.boardgame_icons-gold-md-_41 { width: 65px; height: 58px; background-position: -208px -217px; }
.boardgame_icons-gold-md-_42 { width: 64px; height: 58px; background-position: -339px -444px; }
.boardgame_icons-gold-md-_43 { width: 57px; height: 62px; background-position: -427px -822px; }
.boardgame_icons-gold-md-_44 { width: 61px; height: 66px; background-position: -131px -723px; }
.boardgame_icons-gold-md-_45 { width: 62px; height: 66px; background-position: -132px -791px; }
.boardgame_icons-gold-md-_46 { width: 64px; height: 66px; background-position: -66px -791px; }
.boardgame_icons-gold-md-_47 { width: 57px; height: 62px; background-position: -447px -563px; }
.boardgame_icons-gold-md-_48 { width: 65px; height: 62px; background-position: -273px -278px; }
.boardgame_icons-gold-md-_49 { width: 64px; height: 63px; background-position: -273px -342px; }
.boardgame_icons-gold-md-_50 { width: 65px; height: 63px; background-position: -140px -267px; }
.boardgame_icons-gold-md-_51 { width: 64px; height: 72px; background-position: -1px -508px; }
.boardgame_icons-gold-md-_52 { width: 61px; height: 57px; background-position: -462px -443px; }
.boardgame_icons-gold-md-_53 { width: 65px; height: 63px; background-position: -140px -332px; }
.boardgame_icons-gold-md-_54 { width: 64px; height: 57px; background-position: -328px -504px; }
.boardgame_icons-gold-md-_55 { width: 64px; height: 57px; background-position: -608px -196px; }
.boardgame_icons-gold-md-_56 { width: 65px; height: 67px; background-position: -554px -1px; }
.boardgame_icons-gold-md-_57 { width: 65px; height: 64px; background-position: -803px -69px; }
.boardgame_icons-gold-md-_58 { width: 64px; height: 64px; background-position: -207px -277px; }
.boardgame_icons-gold-md-_59 { width: 50px; height: 54px; background-position: -797px -660px; }
.boardgame_icons-gold-md-_60 { width: 28px; height: 62px; background-position: -481px -627px; }
.boardgame_icons-gold-md-_61 { width: 28px; height: 58px; background-position: -841px -487px; }
.boardgame_icons-gold-md-_62 { width: 55px; height: 54px; background-position: -631px -564px; }
.boardgame_icons-gold-md-_63 { width: 47px; height: 72px; background-position: -67px -508px; }
.boardgame_icons-gold-md-_64 { width: 41px; height: 72px; background-position: -116px -507px; }
.boardgame_icons-gold-md-_65 { width: 47px; height: 63px; background-position: -398px -563px; }
.boardgame_icons-gold-md-_66 { width: 47px; height: 67px; background-position: -159px -505px; }
.boardgame_icons-gold-md-_67 { width: 40px; height: 70px; background-position: -126px -581px; }
.boardgame_icons-gold-md-_68 { width: 46px; height: 67px; background-position: -168px -574px; }
.boardgame_icons-gold-md-_69 { width: 55px; height: 55px; background-position: -418px -202px; }
.boardgame_icons-gold-md-_70 { width: 61px; height: 57px; background-position: -545px -199px; }
.boardgame_icons-gold-md-_71 { width: 53px; height: 61px; background-position: -568px -320px; }
.boardgame_icons-gold-md-_72 { width: 53px; height: 61px; background-position: -624px -375px; }
.boardgame_icons-gold-md-_73 { width: 53px; height: 61px; background-position: -634px -501px; }
.boardgame_icons-gold-md-_74 { width: 52px; height: 61px; background-position: -603px -682px; }
.boardgame_icons-gold-md-_75 { width: 52px; height: 57px; background-position: -603px -745px; }
.boardgame_icons-gold-md-_76 { width: 52px; height: 57px; background-position: -657px -742px; }
.boardgame_icons-gold-md-_77 { width: 59px; height: 63px; background-position: -303px -704px; }
.boardgame_icons-gold-md-_78 { width: 59px; height: 63px; background-position: -303px -769px; }
.boardgame_icons-gold-md-_79 { width: 54px; height: 57px; background-position: -659px -801px; }
.boardgame_icons-gold-md-_80 { width: 53px; height: 57px; background-position: -682px -432px; }
.boardgame_icons-gold-md-_81 { width: 59px; height: 62px; background-position: -484px -691px; }
.boardgame_icons-gold-md-_82 { width: 59px; height: 62px; background-position: -484px -755px; }
.boardgame_icons-gold-md-_83 { width: 52px; height: 56px; background-position: -731px -841px; }
.boardgame_icons-gold-md-_84 { width: 58px; height: 62px; background-position: -486px -819px; }
.boardgame_icons-gold-md-_85 { width: 49px; height: 58px; background-position: -528px -502px; }
.boardgame_icons-gold-md-_86 { width: 55px; height: 64px; background-position: -311px -834px; }
.boardgame_icons-gold-md-_87 { width: 53px; height: 65px; background-position: -193px -859px; }
.boardgame_icons-gold-md-_88 { width: 53px; height: 65px; background-position: -208px -505px; }
.boardgame_icons-gold-md-_89 { width: 59px; height: 70px; background-position: -65px -582px; }
.boardgame_icons-gold-md-_90 { width: 58px; height: 70px; background-position: -544px -71px; }
.boardgame_icons-gold-md-_91 { width: 53px; height: 57px; background-position: -689px -491px; }
.boardgame_icons-gold-md-_92 { width: 53px; height: 57px; background-position: -688px -608px; }
.boardgame_icons-gold-md-_93 { width: 59px; height: 63px; background-position: -420px -628px; }
.boardgame_icons-gold-md-_94 { width: 59px; height: 63px; background-position: -423px -693px; }
.boardgame_icons-gold-md-_95 { width: 49px; height: 58px; background-position: -573px -383px; }
.boardgame_icons-gold-md-_96 { width: 49px; height: 58px; background-position: -608px -804px; }
.boardgame_icons-gold-md-_97 { width: 55px; height: 64px; background-position: -341px -563px; }
.boardgame_icons-gold-md-_98 { width: 55px; height: 64px; background-position: -363px -629px; }
.boardgame_icons-gold-md-_99 { width: 68px; height: 62px; background-position: -674px -70px; }
.boardgame_icons-gold-md-_100 { width: 68px; height: 70px; background-position: -141px -1px; }
.boardgame_icons-gold-md-_101 { width: 68px; height: 70px; background-position: -1px -220px; }
.boardgame_icons-gold-md-_102 { width: 67px; height: 70px; background-position: -71px -292px; }
.boardgame_icons-gold-md-_103 { width: 67px; height: 69px; background-position: -281px -145px; }
.boardgame_icons-gold-md-_104 { width: 67px; height: 69px; background-position: -350px -73px; }
.boardgame_icons-gold-md-_105 { width: 67px; height: 70px; background-position: -281px -73px; }
.boardgame_icons-gold-md-_106 { width: 68px; height: 70px; background-position: -71px -147px; }
.boardgame_icons-gold-md-_107 { width: 68px; height: 70px; background-position: -141px -73px; }
.boardgame_icons-gold-md-_108 { width: 68px; height: 70px; background-position: -211px -1px; }
.boardgame_icons-gold-md-_109 { width: 68px; height: 62px; background-position: -604px -70px; }
.boardgame_icons-gold-md-_110 { width: 67px; height: 70px; background-position: -351px -1px; }
.boardgame_icons-gold-md-_111 { width: 58px; height: 47px; background-position: -196px -456px; }
.boardgame_icons-gold-md-_112 { width: 68px; height: 70px; background-position: -1px -292px; }
.boardgame_icons-gold-md-_113 { width: 67px; height: 71px; background-position: -71px -219px; }
.boardgame_icons-gold-md-_114 { width: 68px; height: 71px; background-position: -1px -1px; }
.boardgame_icons-gold-md-_115 { width: 68px; height: 71px; background-position: -1px -74px; }
.boardgame_icons-gold-md-_116 { width: 32px; height: 57px; background-position: -394px -504px; }
.boardgame_icons-gold-md-_117 { width: 32px; height: 58px; background-position: -511px -143px; }
.boardgame_icons-gold-md-_118 { width: 31px; height: 58px; background-position: -657px -682px; }
.boardgame_icons-gold-md-_119 { width: 34px; height: 57px; background-position: -887px -1px; }
.boardgame_icons-gold-md-_120 { width: 31px; height: 55px; background-position: -475px -202px; }
.boardgame_icons-gold-md-_121 { width: 64px; height: 67px; background-position: -621px -1px; }
.boardgame_icons-gold-md-_122 { width: 64px; height: 67px; background-position: -687px -1px; }
.boardgame_icons-gold-md-_123 { width: 44px; height: 62px; background-position: -406px -319px; }
.boardgame_icons-gold-md-_124 { width: 57px; height: 58px; background-position: -744px -140px; }
.boardgame_icons-gold-md-_125 { width: 54px; height: 58px; background-position: -870px -131px; }
.boardgame_icons-gold-md-_126 { width: 63px; height: 67px; background-position: -1px -725px; }
.boardgame_icons-gold-md-_127 { width: 63px; height: 67px; background-position: -1px -794px; }
.boardgame_icons-gold-md-_128 { width: 63px; height: 67px; background-position: -65px -654px; }
.boardgame_icons-gold-md-_129 { width: 53px; height: 60px; background-position: -573px -258px; }
.boardgame_icons-gold-md-_130 { width: 53px; height: 60px; background-position: -579px -502px; }
.boardgame_icons-gold-md-_131 { width: 52px; height: 60px; background-position: -632px -620px; }
.boardgame_icons-gold-md-_132 { width: 56px; height: 31px; background-position: -681px -355px; }
.boardgame_icons-gold-md-_133 { width: 59px; height: 61px; background-position: -506px -562px; }
.boardgame_icons-gold-md-_134 { width: 56px; height: 59px; background-position: -812px -200px; }
.boardgame_icons-gold-md-_135 { width: 59px; height: 61px; background-position: -511px -625px; }
.boardgame_icons-gold-md-_137 { width: 56px; height: 61px; background-position: -545px -688px; }
.boardgame_icons-gold-md-_138 { width: 56px; height: 61px; background-position: -545px -751px; }
.boardgame_icons-gold-md-_139 { width: 56px; height: 68px; background-position: -130px -653px; }
.boardgame_icons-gold-md-_140 { width: 50px; height: 54px; background-position: -840px -547px; }
.boardgame_icons-gold-md-_141 { width: 58px; height: 60px; background-position: -572px -620px; }
.boardgame_icons-gold-md-_142 { width: 57px; height: 68px; background-position: -485px -73px; }
.boardgame_icons-gold-md-_143 { width: 57px; height: 68px; background-position: -744px -70px; }
.boardgame_icons-gold-md-_144 { width: 68px; height: 60px; background-position: -604px -134px; }
.boardgame_icons-gold-md-_145 { width: 47px; height: 65px; background-position: -188px -643px; }
.boardgame_icons-gold-md-_146 { width: 45px; height: 60px; background-position: -303px -216px; }
.boardgame_icons-gold-md-_147 { width: 44px; height: 60px; background-position: -608px -864px; }
.boardgame_icons-gold-md-_148 { width: 44px; height: 60px; background-position: -654px -864px; }
.boardgame_icons-gold-md-_149 { width: 43px; height: 58px; background-position: -417px -259px; }
.boardgame_icons-gold-md-_150 { width: 45px; height: 65px; background-position: -194px -710px; }
.boardgame_icons-gold-md-_151 { width: 54px; height: 56px; background-position: -737px -412px; }
.boardgame_icons-gold-md-_152 { width: 65px; height: 63px; background-position: -803px -135px; }
.boardgame_icons-gold-md-_153 { width: 29px; height: 58px; background-position: -700px -860px; }
.boardgame_icons-gold-md-_154 { width: 52px; height: 55px; background-position: -848px -430px; }
.boardgame_icons-gold-md-_155 { width: 52px; height: 55px; background-position: -871px -487px; }
.boardgame_icons-gold-md-_156 { width: 51px; height: 61px; background-position: -628px -255px; }
.boardgame_icons-gold-md-_157 { width: 65px; height: 48px; background-position: -350px -212px; }
.boardgame_icons-gold-md-_158 { width: 51px; height: 42px; background-position: -679px -388px; }
.boardgame_icons-gold-md-_159 { width: 59px; height: 40px; background-position: -488px -883px; }
.boardgame_icons-gold-md-_160 { width: 51px; height: 42px; background-position: -763px -724px; }
.boardgame_icons-gold-md-_161 { width: 50px; height: 56px; background-position: -711px -725px; }
.boardgame_icons-gold-md-_162 { width: 68px; height: 42px; background-position: -674px -194px; }
.boardgame_icons-gold-md-_163 { width: 50px; height: 61px; background-position: -630px -438px; }
.boardgame_icons-gold-md-_164 { width: 68px; height: 58px; background-position: -674px -134px; }
.boardgame_icons-gold-md-_165 { width: 65px; height: 66px; background-position: -753px -1px; }
.boardgame_icons-gold-md-_166 { width: 65px; height: 66px; background-position: -820px -1px; }
.boardgame_icons-gold-md-_167 { width: 66px; height: 66px; background-position: -350px -144px; }
.boardgame_icons-gold-md-_168 { width: 49px; height: 58px; background-position: -462px -259px; }
.boardgame_icons-gold-md-_169 { width: 55px; height: 58px; background-position: -405px -444px; }
.boardgame_icons-gold-md-_170 { width: 58px; height: 58px; background-position: -461px -383px; }
.boardgame_icons-gold-md-_171 { width: 59px; height: 62px; background-position: -423px -758px; }
.boardgame_icons-gold-md-_172 { width: 54px; height: 57px; background-position: -870px -191px; }
.boardgame_icons-gold-md-_173 { width: 63px; height: 66px; background-position: -66px -723px; }
.boardgame_icons-gold-md-_174 { width: 62px; height: 68px; background-position: -1px -655px; }
.boardgame_icons-gold-md-_175 { width: 66px; height: 57px; background-position: -744px -200px; }
.boardgame_icons-gold-md-_176 { width: 63px; height: 60px; background-position: -339px -382px; }
.boardgame_icons-gold-md-_177 { width: 65px; height: 69px; background-position: -70px -436px; }
.boardgame_icons-gold-md-_178 { width: 68px; height: 71px; background-position: -71px -1px; }
.boardgame_icons-gold-md-_179 { width: 68px; height: 71px; background-position: -1px -147px; }
.boardgame_icons-gold-md-_180 { width: 68px; height: 71px; background-position: -71px -74px; }
.boardgame_icons-gold-md-_181 { width: 57px; height: 63px; background-position: -364px -695px; }
.boardgame_icons-gold-md-_182 { width: 57px; height: 67px; background-position: -137px -436px; }
.boardgame_icons-gold-md-_183 { width: 57px; height: 63px; background-position: -364px -760px; }
.boardgame_icons-gold-md-_184 { width: 57px; height: 63px; background-position: -368px -825px; }
.boardgame_icons-gold-md-_185 { width: 57px; height: 53px; background-position: -681px -300px; }
.boardgame_icons-gold-md-_186 { width: 56px; height: 53px; background-position: -799px -317px; }
.boardgame_icons-gold-md-_187 { width: 56px; height: 49px; background-position: -739px -361px; }
.boardgame_icons-gold-md-_188 { width: 56px; height: 53px; background-position: -623px -320px; }
.boardgame_icons-gold-md-_189 { width: 41px; height: 49px; background-position: -743px -616px; }
.boardgame_icons-gold-md-_190 { width: 57px; height: 49px; background-position: -740px -310px; }
.boardgame_icons-gold-md-_191 { width: 41px; height: 49px; background-position: -849px -659px; }
.boardgame_icons-gold-md-_192 { width: 55px; height: 59px; background-position: -404px -383px; }
.boardgame_icons-gold-md-_193 { width: 41px; height: 56px; background-position: -419px -143px; }
.boardgame_icons-gold-md-_194 { width: 53px; height: 46px; background-position: -549px -876px; }
.boardgame_icons-gold-md-_195 { width: 59px; height: 49px; background-position: -740px -259px; }
.boardgame_icons-gold-md-_196 { width: 52px; height: 56px; background-position: -690px -667px; }
.boardgame_icons-gold-md-_197 { width: 57px; height: 60px; background-position: -681px -238px; }
.boardgame_icons-gold-md-_198 { width: 31px; height: 34px; background-position: -368px -890px; }
.boardgame_icons-gold-md-_199 { width: 31px; height: 34px; background-position: -401px -890px; }
.boardgame_icons-gold-md-_200 { width: 31px; height: 34px; background-position: -892px -544px; }
.boardgame_icons-gold-md-_201 { width: 31px; height: 34px; background-position: -744px -580px; }
.boardgame_icons-gold-md-_202 { width: 30px; height: 34px; background-position: -816px -716px; }
.boardgame_icons-gold-md-_203 { width: 30px; height: 34px; background-position: -769px -768px; }
.boardgame_icons-gold-md-_204 { width: 30px; height: 34px; background-position: -769px -804px; }
.boardgame_icons-gold-md-_205 { width: 31px; height: 34px; background-position: -893px -580px; }
.boardgame_icons-gold-md-_206 { width: 31px; height: 34px; background-position: -893px -616px; }
.boardgame_icons-gold-md-_207 { width: 31px; height: 34px; background-position: -893px -652px; }
.boardgame_icons-gold-md-_208 { width: 27px; height: 30px; background-position: -785px -874px; }
.boardgame_icons-gold-md-_209 { width: 27px; height: 30px; background-position: -857px -351px; }
.boardgame_icons-gold-md-_210 { width: 27px; height: 30px; background-position: -848px -742px; }
.boardgame_icons-gold-md-_211 { width: 26px; height: 30px; background-position: -883px -383px; }
.boardgame_icons-gold-md-_212 { width: 26px; height: 30px; background-position: -877px -742px; }
.boardgame_icons-gold-md-_213 { width: 27px; height: 30px; background-position: -859px -774px; }
.boardgame_icons-gold-md-_214 { width: 27px; height: 30px; background-position: -859px -806px; }
.boardgame_icons-gold-md-_215 { width: 27px; height: 30px; background-position: -888px -774px; }
.boardgame_icons-gold-md-_216 { width: 28px; height: 30px; background-position: -849px -710px; }
.boardgame_icons-gold-md-_217 { width: 27px; height: 30px; background-position: -888px -806px; }
.boardgame_icons-gold-md-_218 { width: 30px; height: 34px; background-position: -892px -688px; }
.boardgame_icons-gold-md-_219 { width: 30px; height: 34px; background-position: -801px -768px; }
.boardgame_icons-gold-md-_220 { width: 26px; height: 32px; background-position: -275px -217px; }
.boardgame_icons-gold-md-_221 { width: 27px; height: 32px; background-position: -801px -804px; }
.boardgame_icons-gold-md-_222 { width: 27px; height: 32px; background-position: -785px -840px; }
.boardgame_icons-gold-md-_223 { width: 27px; height: 32px; background-position: -814px -838px; }
.boardgame_icons-gold-md-_224 { width: 27px; height: 32px; background-position: -814px -872px; }
.boardgame_icons-gold-md-_225 { width: 27px; height: 32px; background-position: -830px -804px; }
.boardgame_icons-gold-md-_226 { width: 27px; height: 32px; background-position: -843px -838px; }
.boardgame_icons-gold-md-_227 { width: 26px; height: 32px; background-position: -857px -317px; }
.boardgame_icons-gold-md-_228 { width: 26px; height: 32px; background-position: -886px -343px; }
.boardgame_icons-gold-md-_229 { width: 27px; height: 32px; background-position: -843px -872px; }
.boardgame_icons-gold-md-_230 { width: 27px; height: 32px; background-position: -885px -309px; }
.boardgame_icons-gold-md-_231 { width: 27px; height: 32px; background-position: -854px -383px; }
.boardgame_icons-gold-md-_232 { width: 68px; height: 70px; background-position: -141px -145px; }
.boardgame_icons-gold-md-_233 { width: 67px; height: 70px; background-position: -1px -436px; }
.boardgame_icons-gold-md-_234 { width: 68px; height: 70px; background-position: -211px -73px; }
.boardgame_icons-gold-md-_235 { width: 68px; height: 70px; background-position: -281px -1px; }
.boardgame_icons-gold-md-_236 { width: 68px; height: 70px; background-position: -1px -364px; }
.boardgame_icons-gold-md-_237 { width: 68px; height: 70px; background-position: -211px -145px; }
.boardgame_icons-gold-md-_238 { width: 67px; height: 70px; background-position: -71px -364px; }
.boardgame_icons-gold-md-_239 { width: 66px; height: 70px; background-position: -420px -1px; }
.boardgame_icons-gold-md-_240 { width: 62px; height: 54px; background-position: -567px -564px; }
.boardgame_icons-gold-md-_241 { width: 54px; height: 60px; background-position: -870px -69px; }
.boardgame_icons-gold-md-_242 { width: 47px; height: 57px; background-position: -462px -143px; }
.boardgame_icons-gold-md-_243 { width: 51px; height: 55px; background-position: -744px -667px; }
.boardgame_icons-gold-md-_244 { width: 52px; height: 55px; background-position: -786px -603px; }
.boardgame_icons-gold-md-_245 { width: 51px; height: 57px; background-position: -577px -443px; }
.boardgame_icons-gold-md-_246 { width: 53px; height: 55px; background-position: -793px -430px; }
.boardgame_icons-gold-md-_247 { width: 61px; height: 65px; background-position: -67px -859px; }
.boardgame_icons-gold-md-_248 { width: 61px; height: 65px; background-position: -130px -859px; }
.boardgame_icons-gold-md-_249 { width: 62px; height: 71px; background-position: -1px -582px; }
.boardgame_icons-gold-md-book_open { width: 65px; height: 55px; background-position: -350px -262px; }
.boardgame_icons-gold-md-hand_hexagon { width: 59px; height: 62px; background-position: -452px -319px; }
