//
// Created with TexturePacker - https://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:e99a31674c79cc03a59bbfdc36916f59:7a0cb0560a779b14e0fd317ceb4d6db5:c89903e5e237e56f2f50f8011db59f27$
//

.sprite-boardgame_icons-gold-sd { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('boardgame_icons-gold-sd.png'); }

.boardgame_icons-gold-sd-_1 { width: 30px; height: 28px; background-position: -318px -182px; }
.boardgame_icons-gold-sd-_2 { width: 31px; height: 28px; background-position: -206px -274px; }
.boardgame_icons-gold-sd-_3 { width: 34px; height: 36px; background-position: -75px -151px; }
.boardgame_icons-gold-sd-_4 { width: 34px; height: 36px; background-position: -1px -264px; }
.boardgame_icons-gold-sd-_5 { width: 28px; height: 30px; background-position: -355px -275px; }
.boardgame_icons-gold-sd-_6 { width: 28px; height: 30px; background-position: -414px -276px; }
.boardgame_icons-gold-sd-_7 { width: 28px; height: 30px; background-position: -470px -287px; }
.boardgame_icons-gold-sd-_8 { width: 34px; height: 18px; background-position: -212px -199px; }
.boardgame_icons-gold-sd-_9 { width: 29px; height: 30px; background-position: -278px -244px; }
.boardgame_icons-gold-sd-_10 { width: 28px; height: 18px; background-position: -470px -381px; }
.boardgame_icons-gold-sd-_11 { width: 25px; height: 20px; background-position: -239px -278px; }
.boardgame_icons-gold-sd-_12 { width: 31px; height: 32px; background-position: -295px -111px; }
.boardgame_icons-gold-sd-_13 { width: 33px; height: 33px; background-position: -223px -76px; }
.boardgame_icons-gold-sd-_14 { width: 31px; height: 32px; background-position: -353px -212px; }
.boardgame_icons-gold-sd-_16 { width: 27px; height: 29px; background-position: -337px -371px; }
.boardgame_icons-gold-sd-_17 { width: 24px; height: 34px; background-position: -477px -154px; }
.boardgame_icons-gold-sd-_18 { width: 21px; height: 28px; background-position: -480px -1px; }
.boardgame_icons-gold-sd-_19 { width: 29px; height: 32px; background-position: -160px -406px; }
.boardgame_icons-gold-sd-_20 { width: 24px; height: 30px; background-position: -444px -280px; }
.boardgame_icons-gold-sd-_21 { width: 34px; height: 25px; background-position: -212px -172px; }
.boardgame_icons-gold-sd-_22 { width: 33px; height: 25px; background-position: -212px -219px; }
.boardgame_icons-gold-sd-_23 { width: 27px; height: 30px; background-position: -385px -275px; }
.boardgame_icons-gold-sd-_24 { width: 29px; height: 30px; background-position: -215px -440px; }
.boardgame_icons-gold-sd-_25 { width: 33px; height: 31px; background-position: -283px -145px; }
.boardgame_icons-gold-sd-_26 { width: 21px; height: 28px; background-position: -480px -31px; }
.boardgame_icons-gold-sd-_27 { width: 33px; height: 31px; background-position: -283px -178px; }
.boardgame_icons-gold-sd-_28 { width: 33px; height: 31px; background-position: -350px -179px; }
.boardgame_icons-gold-sd-_29 { width: 26px; height: 30px; background-position: -442px -312px; }
.boardgame_icons-gold-sd-_30 { width: 34px; height: 31px; background-position: -212px -139px; }
.boardgame_icons-gold-sd-_31 { width: 26px; height: 30px; background-position: -442px -344px; }
.boardgame_icons-gold-sd-_32 { width: 32px; height: 34px; background-position: -412px -36px; }
.boardgame_icons-gold-sd-_33 { width: 28px; height: 30px; background-position: -470px -255px; }
.boardgame_icons-gold-sd-_34 { width: 32px; height: 34px; background-position: -446px -36px; }
.boardgame_icons-gold-sd-_35 { width: 32px; height: 34px; background-position: -413px -72px; }
.boardgame_icons-gold-sd-_36 { width: 32px; height: 34px; background-position: -447px -72px; }
.boardgame_icons-gold-sd-_37 { width: 32px; height: 34px; background-position: -422px -108px; }
.boardgame_icons-gold-sd-_38 { width: 32px; height: 34px; background-position: -144px -112px; }
.boardgame_icons-gold-sd-_39 { width: 32px; height: 34px; background-position: -144px -148px; }
.boardgame_icons-gold-sd-_40 { width: 19px; height: 27px; background-position: -482px -93px; }
.boardgame_icons-gold-sd-_41 { width: 33px; height: 31px; background-position: -385px -179px; }
.boardgame_icons-gold-sd-_42 { width: 33px; height: 31px; background-position: -420px -179px; }
.boardgame_icons-gold-sd-_43 { width: 30px; height: 33px; background-position: -205px -304px; }
.boardgame_icons-gold-sd-_44 { width: 32px; height: 34px; background-position: -178px -135px; }
.boardgame_icons-gold-sd-_45 { width: 33px; height: 34px; background-position: -373px -1px; }
.boardgame_icons-gold-sd-_46 { width: 34px; height: 34px; background-position: -301px -1px; }
.boardgame_icons-gold-sd-_47 { width: 30px; height: 33px; background-position: -63px -338px; }
.boardgame_icons-gold-sd-_48 { width: 34px; height: 32px; background-position: -356px -110px; }
.boardgame_icons-gold-sd-_49 { width: 34px; height: 33px; background-position: -408px -1px; }
.boardgame_icons-gold-sd-_50 { width: 34px; height: 33px; background-position: -444px -1px; }
.boardgame_icons-gold-sd-_51 { width: 34px; height: 36px; background-position: -74px -189px; }
.boardgame_icons-gold-sd-_52 { width: 32px; height: 31px; background-position: -144px -184px; }
.boardgame_icons-gold-sd-_53 { width: 34px; height: 34px; background-position: -337px -1px; }
.boardgame_icons-gold-sd-_54 { width: 33px; height: 31px; background-position: -248px -210px; }
.boardgame_icons-gold-sd-_55 { width: 33px; height: 31px; background-position: -283px -211px; }
.boardgame_icons-gold-sd-_56 { width: 33px; height: 35px; background-position: -284px -37px; }
.boardgame_icons-gold-sd-_57 { width: 33px; height: 34px; background-position: -319px -37px; }
.boardgame_icons-gold-sd-_58 { width: 33px; height: 33px; background-position: -342px -144px; }
.boardgame_icons-gold-sd-_59 { width: 27px; height: 29px; background-position: -424px -376px; }
.boardgame_icons-gold-sd-_60 { width: 16px; height: 33px; background-position: -452px -212px; }
.boardgame_icons-gold-sd-_61 { width: 16px; height: 31px; background-position: -333px -243px; }
.boardgame_icons-gold-sd-_62 { width: 29px; height: 29px; background-position: -157px -472px; }
.boardgame_icons-gold-sd-_63 { width: 25px; height: 36px; background-position: -257px -36px; }
.boardgame_icons-gold-sd-_64 { width: 22px; height: 36px; background-position: -388px -37px; }
.boardgame_icons-gold-sd-_65 { width: 26px; height: 32px; background-position: -475px -190px; }
.boardgame_icons-gold-sd-_66 { width: 25px; height: 34px; background-position: -36px -339px; }
.boardgame_icons-gold-sd-_67 { width: 22px; height: 35px; background-position: -318px -145px; }
.boardgame_icons-gold-sd-_68 { width: 24px; height: 34px; background-position: -98px -442px; }
.boardgame_icons-gold-sd-_69 { width: 29px; height: 29px; background-position: -188px -472px; }
.boardgame_icons-gold-sd-_70 { width: 32px; height: 30px; background-position: -178px -204px; }
.boardgame_icons-gold-sd-_71 { width: 28px; height: 32px; background-position: -160px -372px; }
.boardgame_icons-gold-sd-_72 { width: 28px; height: 32px; background-position: -222px -406px; }
.boardgame_icons-gold-sd-_73 { width: 28px; height: 32px; background-position: -252px -373px; }
.boardgame_icons-gold-sd-_74 { width: 27px; height: 32px; background-position: -124px -442px; }
.boardgame_icons-gold-sd-_75 { width: 27px; height: 30px; background-position: -337px -339px; }
.boardgame_icons-gold-sd-_76 { width: 27px; height: 30px; background-position: -366px -339px; }
.boardgame_icons-gold-sd-_77 { width: 31px; height: 33px; background-position: -419px -212px; }
.boardgame_icons-gold-sd-_78 { width: 31px; height: 33px; background-position: -107px -301px; }
.boardgame_icons-gold-sd-_79 { width: 28px; height: 30px; background-position: -322px -307px; }
.boardgame_icons-gold-sd-_80 { width: 28px; height: 30px; background-position: -352px -307px; }
.boardgame_icons-gold-sd-_81 { width: 32px; height: 33px; background-position: -377px -144px; }
.boardgame_icons-gold-sd-_82 { width: 31px; height: 33px; background-position: -141px -268px; }
.boardgame_icons-gold-sd-_83 { width: 28px; height: 29px; background-position: -279px -472px; }
.boardgame_icons-gold-sd-_84 { width: 30px; height: 33px; background-position: -66px -373px; }
.boardgame_icons-gold-sd-_85 { width: 26px; height: 31px; background-position: -395px -340px; }
.boardgame_icons-gold-sd-_86 { width: 29px; height: 33px; background-position: -67px -443px; }
.boardgame_icons-gold-sd-_87 { width: 28px; height: 34px; background-position: -36px -375px; }
.boardgame_icons-gold-sd-_88 { width: 28px; height: 34px; background-position: -36px -411px; }
.boardgame_icons-gold-sd-_89 { width: 31px; height: 35px; background-position: -109px -227px; }
.boardgame_icons-gold-sd-_90 { width: 31px; height: 35px; background-position: -108px -264px; }
.boardgame_icons-gold-sd-_91 { width: 28px; height: 30px; background-position: -382px -307px; }
.boardgame_icons-gold-sd-_92 { width: 28px; height: 30px; background-position: -412px -308px; }
.boardgame_icons-gold-sd-_93 { width: 31px; height: 33px; background-position: -140px -303px; }
.boardgame_icons-gold-sd-_94 { width: 31px; height: 33px; background-position: -175px -236px; }
.boardgame_icons-gold-sd-_95 { width: 26px; height: 31px; background-position: -281px -407px; }
.boardgame_icons-gold-sd-_96 { width: 26px; height: 31px; background-position: -309px -402px; }
.boardgame_icons-gold-sd-_97 { width: 30px; height: 33px; background-position: -66px -408px; }
.boardgame_icons-gold-sd-_98 { width: 29px; height: 33px; background-position: -95px -338px; }
.boardgame_icons-gold-sd-_99 { width: 36px; height: 33px; background-position: -225px -1px; }
.boardgame_icons-gold-sd-_100 { width: 34px; height: 35px; background-position: -189px -1px; }
.boardgame_icons-gold-sd-_101 { width: 36px; height: 35px; background-position: -39px -1px; }
.boardgame_icons-gold-sd-_102 { width: 35px; height: 35px; background-position: -115px -1px; }
.boardgame_icons-gold-sd-_103 { width: 35px; height: 35px; background-position: -113px -38px; }
.boardgame_icons-gold-sd-_104 { width: 35px; height: 35px; background-position: -1px -190px; }
.boardgame_icons-gold-sd-_105 { width: 34px; height: 35px; background-position: -150px -75px; }
.boardgame_icons-gold-sd-_106 { width: 35px; height: 35px; background-position: -38px -152px; }
.boardgame_icons-gold-sd-_107 { width: 35px; height: 35px; background-position: -75px -114px; }
.boardgame_icons-gold-sd-_108 { width: 35px; height: 35px; background-position: -152px -1px; }
.boardgame_icons-gold-sd-_109 { width: 35px; height: 33px; background-position: -186px -75px; }
.boardgame_icons-gold-sd-_110 { width: 35px; height: 35px; background-position: -113px -75px; }
.boardgame_icons-gold-sd-_111 { width: 30px; height: 25px; background-position: -125px -476px; }
.boardgame_icons-gold-sd-_112 { width: 36px; height: 35px; background-position: -1px -77px; }
.boardgame_icons-gold-sd-_113 { width: 36px; height: 36px; background-position: -1px -1px; }
.boardgame_icons-gold-sd-_114 { width: 35px; height: 36px; background-position: -39px -38px; }
.boardgame_icons-gold-sd-_115 { width: 36px; height: 36px; background-position: -1px -39px; }
.boardgame_icons-gold-sd-_116 { width: 18px; height: 30px; background-position: -482px -122px; }
.boardgame_icons-gold-sd-_117 { width: 18px; height: 30px; background-position: -455px -179px; }
.boardgame_icons-gold-sd-_118 { width: 17px; height: 30px; background-position: -241px -246px; }
.boardgame_icons-gold-sd-_119 { width: 19px; height: 30px; background-position: -481px -61px; }
.boardgame_icons-gold-sd-_120 { width: 17px; height: 29px; background-position: -276px -441px; }
.boardgame_icons-gold-sd-_121 { width: 33px; height: 35px; background-position: -74px -227px; }
.boardgame_icons-gold-sd-_122 { width: 33px; height: 35px; background-position: -37px -301px; }
.boardgame_icons-gold-sd-_123 { width: 23px; height: 33px; background-position: -388px -75px; }
.boardgame_icons-gold-sd-_124 { width: 30px; height: 31px; background-position: -174px -271px; }
.boardgame_icons-gold-sd-_125 { width: 29px; height: 31px; background-position: -190px -373px; }
.boardgame_icons-gold-sd-_126 { width: 33px; height: 35px; background-position: -73px -264px; }
.boardgame_icons-gold-sd-_127 { width: 33px; height: 35px; background-position: -1px -377px; }
.boardgame_icons-gold-sd-_128 { width: 33px; height: 35px; background-position: -72px -301px; }
.boardgame_icons-gold-sd-_129 { width: 28px; height: 32px; background-position: -392px -110px; }
.boardgame_icons-gold-sd-_130 { width: 28px; height: 32px; background-position: -130px -372px; }
.boardgame_icons-gold-sd-_131 { width: 28px; height: 32px; background-position: -130px -406px; }
.boardgame_icons-gold-sd-_132 { width: 30px; height: 17px; background-position: -112px -135px; }
.boardgame_icons-gold-sd-_133 { width: 31px; height: 33px; background-position: -111px -154px; }
.boardgame_icons-gold-sd-_134 { width: 29px; height: 32px; background-position: -222px -339px; }
.boardgame_icons-gold-sd-_135 { width: 31px; height: 33px; background-position: -411px -144px; }
.boardgame_icons-gold-sd-_137 { width: 29px; height: 33px; background-position: -237px -304px; }
.boardgame_icons-gold-sd-_138 { width: 29px; height: 33px; background-position: -36px -447px; }
.boardgame_icons-gold-sd-_139 { width: 29px; height: 35px; background-position: -258px -74px; }
.boardgame_icons-gold-sd-_140 { width: 26px; height: 29px; background-position: -327px -276px; }
.boardgame_icons-gold-sd-_141 { width: 31px; height: 32px; background-position: -386px -212px; }
.boardgame_icons-gold-sd-_142 { width: 31px; height: 35px; background-position: -289px -74px; }
.boardgame_icons-gold-sd-_143 { width: 30px; height: 35px; background-position: -356px -73px; }
.boardgame_icons-gold-sd-_144 { width: 36px; height: 32px; background-position: -263px -1px; }
.boardgame_icons-gold-sd-_145 { width: 26px; height: 33px; background-position: -328px -109px; }
.boardgame_icons-gold-sd-_146 { width: 24px; height: 31px; background-position: -282px -336px; }
.boardgame_icons-gold-sd-_147 { width: 24px; height: 31px; background-position: -282px -369px; }
.boardgame_icons-gold-sd-_148 { width: 24px; height: 31px; background-position: -296px -303px; }
.boardgame_icons-gold-sd-_149 { width: 23px; height: 31px; background-position: -445px -247px; }
.boardgame_icons-gold-sd-_150 { width: 24px; height: 34px; background-position: -456px -108px; }
.boardgame_icons-gold-sd-_151 { width: 28px; height: 29px; background-position: -219px -472px; }
.boardgame_icons-gold-sd-_152 { width: 33px; height: 32px; background-position: -248px -144px; }
.boardgame_icons-gold-sd-_153 { width: 16px; height: 31px; background-position: -260px -243px; }
.boardgame_icons-gold-sd-_154 { width: 27px; height: 29px; background-position: -470px -319px; }
.boardgame_icons-gold-sd-_155 { width: 27px; height: 29px; background-position: -308px -371px; }
.boardgame_icons-gold-sd-_156 { width: 27px; height: 32px; background-position: -253px -339px; }
.boardgame_icons-gold-sd-_157 { width: 34px; height: 26px; background-position: -223px -111px; }
.boardgame_icons-gold-sd-_158 { width: 27px; height: 23px; background-position: -67px -478px; }
.boardgame_icons-gold-sd-_159 { width: 31px; height: 22px; background-position: -142px -217px; }
.boardgame_icons-gold-sd-_160 { width: 27px; height: 23px; background-position: -96px -478px; }
.boardgame_icons-gold-sd-_161 { width: 27px; height: 29px; background-position: -366px -371px; }
.boardgame_icons-gold-sd-_162 { width: 35px; height: 23px; background-position: -186px -110px; }
.boardgame_icons-gold-sd-_163 { width: 27px; height: 32px; background-position: -252px -407px; }
.boardgame_icons-gold-sd-_164 { width: 34px; height: 31px; background-position: -259px -111px; }
.boardgame_icons-gold-sd-_165 { width: 34px; height: 35px; background-position: -187px -38px; }
.boardgame_icons-gold-sd-_166 { width: 34px; height: 35px; background-position: -38px -227px; }
.boardgame_icons-gold-sd-_167 { width: 35px; height: 35px; background-position: -150px -38px; }
.boardgame_icons-gold-sd-_168 { width: 26px; height: 31px; background-position: -268px -303px; }
.boardgame_icons-gold-sd-_169 { width: 29px; height: 31px; background-position: -221px -373px; }
.boardgame_icons-gold-sd-_170 { width: 30px; height: 31px; background-position: -158px -339px; }
.boardgame_icons-gold-sd-_171 { width: 31px; height: 33px; background-position: -444px -144px; }
.boardgame_icons-gold-sd-_172 { width: 29px; height: 30px; background-position: -153px -440px; }
.boardgame_icons-gold-sd-_173 { width: 33px; height: 35px; background-position: -1px -414px; }
.boardgame_icons-gold-sd-_174 { width: 33px; height: 35px; background-position: -1px -451px; }
.boardgame_icons-gold-sd-_175 { width: 33px; height: 30px; background-position: -248px -178px; }
.boardgame_icons-gold-sd-_176 { width: 32px; height: 31px; background-position: -178px -171px; }
.boardgame_icons-gold-sd-_177 { width: 34px; height: 35px; background-position: -1px -302px; }
.boardgame_icons-gold-sd-_178 { width: 35px; height: 35px; background-position: -1px -227px; }
.boardgame_icons-gold-sd-_179 { width: 36px; height: 35px; background-position: -77px -1px; }
.boardgame_icons-gold-sd-_180 { width: 34px; height: 35px; background-position: -37px -264px; }
.boardgame_icons-gold-sd-_181 { width: 30px; height: 33px; background-position: -173px -304px; }
.boardgame_icons-gold-sd-_182 { width: 30px; height: 35px; background-position: -110px -189px; }
.boardgame_icons-gold-sd-_183 { width: 30px; height: 32px; background-position: -98px -408px; }
.boardgame_icons-gold-sd-_184 { width: 30px; height: 32px; background-position: -126px -338px; }
.boardgame_icons-gold-sd-_185 { width: 30px; height: 27px; background-position: -351px -246px; }
.boardgame_icons-gold-sd-_186 { width: 29px; height: 27px; background-position: -383px -246px; }
.boardgame_icons-gold-sd-_187 { width: 29px; height: 25px; background-position: -266px -276px; }
.boardgame_icons-gold-sd-_188 { width: 29px; height: 27px; background-position: -414px -247px; }
.boardgame_icons-gold-sd-_189 { width: 22px; height: 25px; background-position: -337px -402px; }
.boardgame_icons-gold-sd-_190 { width: 31px; height: 25px; background-position: -142px -241px; }
.boardgame_icons-gold-sd-_191 { width: 22px; height: 25px; background-position: -361px -402px; }
.boardgame_icons-gold-sd-_192 { width: 29px; height: 30px; background-position: -184px -440px; }
.boardgame_icons-gold-sd-_193 { width: 22px; height: 30px; background-position: -309px -244px; }
.boardgame_icons-gold-sd-_194 { width: 28px; height: 25px; background-position: -297px -276px; }
.boardgame_icons-gold-sd-_195 { width: 31px; height: 26px; background-position: -208px -246px; }
.boardgame_icons-gold-sd-_196 { width: 28px; height: 29px; background-position: -246px -441px; }
.boardgame_icons-gold-sd-_197 { width: 30px; height: 32px; background-position: -190px -339px; }
.boardgame_icons-gold-sd-_198 { width: 17px; height: 19px; background-position: -112px -114px; }
.boardgame_icons-gold-sd-_199 { width: 17px; height: 19px; background-position: -36px -482px; }
.boardgame_icons-gold-sd-_200 { width: 17px; height: 19px; background-position: -423px -340px; }
.boardgame_icons-gold-sd-_201 { width: 17px; height: 19px; background-position: -309px -472px; }
.boardgame_icons-gold-sd-_202 { width: 17px; height: 19px; background-position: -470px -401px; }
.boardgame_icons-gold-sd-_203 { width: 17px; height: 19px; background-position: -322px -435px; }
.boardgame_icons-gold-sd-_204 { width: 17px; height: 19px; background-position: -341px -429px; }
.boardgame_icons-gold-sd-_205 { width: 17px; height: 19px; background-position: -360px -429px; }
.boardgame_icons-gold-sd-_206 { width: 17px; height: 19px; background-position: -385px -404px; }
.boardgame_icons-gold-sd-_207 { width: 17px; height: 19px; background-position: -404px -404px; }
.boardgame_icons-gold-sd-_208 { width: 15px; height: 17px; background-position: -453px -396px; }
.boardgame_icons-gold-sd-_209 { width: 15px; height: 16px; background-position: -415px -427px; }
.boardgame_icons-gold-sd-_210 { width: 15px; height: 16px; background-position: -432px -427px; }
.boardgame_icons-gold-sd-_211 { width: 15px; height: 16px; background-position: -341px -450px; }
.boardgame_icons-gold-sd-_212 { width: 14px; height: 16px; background-position: -375px -450px; }
.boardgame_icons-gold-sd-_213 { width: 15px; height: 16px; background-position: -358px -450px; }
.boardgame_icons-gold-sd-_214 { width: 15px; height: 16px; background-position: -466px -422px; }
.boardgame_icons-gold-sd-_215 { width: 15px; height: 16px; background-position: -483px -422px; }
.boardgame_icons-gold-sd-_216 { width: 15px; height: 16px; background-position: -458px -460px; }
.boardgame_icons-gold-sd-_217 { width: 15px; height: 16px; background-position: -408px -465px; }
.boardgame_icons-gold-sd-_218 { width: 17px; height: 18px; background-position: -423px -407px; }
.boardgame_icons-gold-sd-_219 { width: 17px; height: 18px; background-position: -379px -429px; }
.boardgame_icons-gold-sd-_220 { width: 15px; height: 17px; background-position: -391px -449px; }
.boardgame_icons-gold-sd-_221 { width: 15px; height: 17px; background-position: -475px -440px; }
.boardgame_icons-gold-sd-_222 { width: 15px; height: 17px; background-position: -475px -459px; }
.boardgame_icons-gold-sd-_223 { width: 15px; height: 17px; background-position: -425px -465px; }
.boardgame_icons-gold-sd-_224 { width: 15px; height: 17px; background-position: -328px -484px; }
.boardgame_icons-gold-sd-_225 { width: 15px; height: 18px; background-position: -453px -376px; }
.boardgame_icons-gold-sd-_226 { width: 15px; height: 18px; background-position: -398px -425px; }
.boardgame_icons-gold-sd-_227 { width: 15px; height: 18px; background-position: -408px -445px; }
.boardgame_icons-gold-sd-_228 { width: 14px; height: 18px; background-position: -442px -445px; }
.boardgame_icons-gold-sd-_229 { width: 15px; height: 18px; background-position: -425px -445px; }
.boardgame_icons-gold-sd-_230 { width: 15px; height: 18px; background-position: -449px -415px; }
.boardgame_icons-gold-sd-_231 { width: 15px; height: 18px; background-position: -458px -440px; }
.boardgame_icons-gold-sd-_232 { width: 35px; height: 36px; background-position: -1px -114px; }
.boardgame_icons-gold-sd-_233 { width: 34px; height: 36px; background-position: -38px -189px; }
.boardgame_icons-gold-sd-_234 { width: 35px; height: 36px; background-position: -39px -76px; }
.boardgame_icons-gold-sd-_235 { width: 35px; height: 36px; background-position: -76px -38px; }
.boardgame_icons-gold-sd-_236 { width: 35px; height: 36px; background-position: -1px -152px; }
.boardgame_icons-gold-sd-_237 { width: 35px; height: 36px; background-position: -38px -114px; }
.boardgame_icons-gold-sd-_238 { width: 35px; height: 36px; background-position: -76px -76px; }
.boardgame_icons-gold-sd-_239 { width: 33px; height: 36px; background-position: -1px -339px; }
.boardgame_icons-gold-sd-_240 { width: 31px; height: 29px; background-position: -470px -224px; }
.boardgame_icons-gold-sd-_241 { width: 29px; height: 32px; background-position: -191px -406px; }
.boardgame_icons-gold-sd-_242 { width: 25px; height: 30px; background-position: -295px -440px; }
.boardgame_icons-gold-sd-_243 { width: 27px; height: 29px; background-position: -395px -373px; }
.boardgame_icons-gold-sd-_244 { width: 27px; height: 29px; background-position: -470px -350px; }
.boardgame_icons-gold-sd-_245 { width: 27px; height: 30px; background-position: -308px -339px; }
.boardgame_icons-gold-sd-_246 { width: 28px; height: 29px; background-position: -249px -472px; }
.boardgame_icons-gold-sd-_247 { width: 32px; height: 34px; background-position: -354px -37px; }
.boardgame_icons-gold-sd-_248 { width: 32px; height: 34px; background-position: -322px -73px; }
.boardgame_icons-gold-sd-_249 { width: 32px; height: 36px; background-position: -223px -38px; }
.boardgame_icons-gold-sd-book_open { width: 33px; height: 29px; background-position: -318px -212px; }
.boardgame_icons-gold-sd-hand_hexagon { width: 30px; height: 33px; background-position: -98px -373px; }
