//
// Created with TexturePacker - https://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:d280743525cce95d42ad0b675988e0ac:5ce9dade64731149efbda0cdcfb3071e:c89903e5e237e56f2f50f8011db59f27$
//

.sprite-boardgame_icons-gold-hd { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('boardgame_icons-gold-hd.png'); }

.boardgame_icons-gold-hd-_1 { width: 112px; height: 104px; background-position: -1226px -527px; }
.boardgame_icons-gold-hd-_2 { width: 112px; height: 104px; background-position: -978px -879px; }
.boardgame_icons-gold-hd-_3 { width: 126px; height: 133px; background-position: -1px -988px; }
.boardgame_icons-gold-hd-_4 { width: 126px; height: 133px; background-position: -134px -847px; }
.boardgame_icons-gold-hd-_5 { width: 102px; height: 109px; background-position: -1283px -1214px; }
.boardgame_icons-gold-hd-_6 { width: 102px; height: 109px; background-position: -1511px -1119px; }
.boardgame_icons-gold-hd-_7 { width: 102px; height: 109px; background-position: -1491px -1230px; }
.boardgame_icons-gold-hd-_8 { width: 126px; height: 61px; background-position: -1092px -723px; }
.boardgame_icons-gold-hd-_9 { width: 106px; height: 109px; background-position: -721px -1023px; }
.boardgame_icons-gold-hd-_10 { width: 102px; height: 61px; background-position: -1470px -1638px; }
.boardgame_icons-gold-hd-_11 { width: 94px; height: 69px; background-position: -256px -1097px; }
.boardgame_icons-gold-hd-_12 { width: 118px; height: 116px; background-position: -1224px -633px; }
.boardgame_icons-gold-hd-_13 { width: 122px; height: 121px; background-position: -1412px -255px; }
.boardgame_icons-gold-hd-_14 { width: 112px; height: 117px; background-position: -978px -760px; }
.boardgame_icons-gold-hd-_16 { width: 98px; height: 105px; background-position: -1445px -1424px; }
.boardgame_icons-gold-hd-_17 { width: 82px; height: 125px; background-position: -247px -1412px; }
.boardgame_icons-gold-hd-_18 { width: 74px; height: 101px; background-position: -677px -1602px; }
.boardgame_icons-gold-hd-_19 { width: 103px; height: 117px; background-position: -566px -1128px; }
.boardgame_icons-gold-hd-_20 { width: 88px; height: 110px; background-position: -1000px -1097px; }
.boardgame_icons-gold-hd-_21 { width: 125px; height: 91px; background-position: -134px -982px; }
.boardgame_icons-gold-hd-_22 { width: 125px; height: 91px; background-position: -129px -1075px; }
.boardgame_icons-gold-hd-_23 { width: 96px; height: 110px; background-position: -1138px -1339px; }
.boardgame_icons-gold-hd-_24 { width: 105px; height: 110px; background-position: -829px -1033px; }
.boardgame_icons-gold-hd-_25 { width: 125px; height: 117px; background-position: -1471px -757px; }
.boardgame_icons-gold-hd-_26 { width: 76px; height: 101px; background-position: -996px -1209px; }
.boardgame_icons-gold-hd-_27 { width: 125px; height: 117px; background-position: -1340px -864px; }
.boardgame_icons-gold-hd-_28 { width: 125px; height: 117px; background-position: -1467px -876px; }
.boardgame_icons-gold-hd-_29 { width: 95px; height: 111px; background-position: -1674px -996px; }
.boardgame_icons-gold-hd-_30 { width: 125px; height: 117px; background-position: -128px -1168px; }
.boardgame_icons-gold-hd-_31 { width: 97px; height: 111px; background-position: -1615px -1119px; }
.boardgame_icons-gold-hd-_32 { width: 116px; height: 124px; background-position: -627px -792px; }
.boardgame_icons-gold-hd-_33 { width: 101px; height: 110px; background-position: -1236px -1339px; }
.boardgame_icons-gold-hd-_34 { width: 118px; height: 125px; background-position: -1559px -503px; }
.boardgame_icons-gold-hd-_35 { width: 118px; height: 125px; background-position: -1583px -630px; }
.boardgame_icons-gold-hd-_36 { width: 118px; height: 125px; background-position: -1640px -243px; }
.boardgame_icons-gold-hd-_37 { width: 118px; height: 125px; background-position: -127px -1412px; }
.boardgame_icons-gold-hd-_38 { width: 118px; height: 125px; background-position: -262px -847px; }
.boardgame_icons-gold-hd-_39 { width: 118px; height: 125px; background-position: -382px -792px; }
.boardgame_icons-gold-hd-_40 { width: 66px; height: 97px; background-position: -1703px -621px; }
.boardgame_icons-gold-hd-_41 { width: 125px; height: 113px; background-position: -403px -562px; }
.boardgame_icons-gold-hd-_42 { width: 125px; height: 113px; background-position: -401px -677px; }
.boardgame_icons-gold-hd-_43 { width: 110px; height: 122px; background-position: -254px -1287px; }
.boardgame_icons-gold-hd-_44 { width: 120px; height: 130px; background-position: -1068px -263px; }
.boardgame_icons-gold-hd-_45 { width: 120px; height: 130px; background-position: -1092px -395px; }
.boardgame_icons-gold-hd-_46 { width: 124px; height: 130px; background-position: -1px -1256px; }
.boardgame_icons-gold-hd-_47 { width: 110px; height: 122px; background-position: -345px -1538px; }
.boardgame_icons-gold-hd-_48 { width: 126px; height: 120px; background-position: -1284px -255px; }
.boardgame_icons-gold-hd-_49 { width: 125px; height: 122px; background-position: -663px -555px; }
.boardgame_icons-gold-hd-_50 { width: 126px; height: 122px; background-position: -535px -555px; }
.boardgame_icons-gold-hd-_51 { width: 125px; height: 139px; background-position: -537px -283px; }
.boardgame_icons-gold-hd-_52 { width: 119px; height: 111px; background-position: -1219px -858px; }
.boardgame_icons-gold-hd-_53 { width: 125px; height: 123px; background-position: -127px -1287px; }
.boardgame_icons-gold-hd-_54 { width: 125px; height: 111px; background-position: -528px -679px; }
.boardgame_icons-gold-hd-_55 { width: 125px; height: 111px; background-position: -655px -679px; }
.boardgame_icons-gold-hd-_56 { width: 125px; height: 131px; background-position: -1px -1123px; }
.boardgame_icons-gold-hd-_57 { width: 126px; height: 125px; background-position: -1410px -378px; }
.boardgame_icons-gold-hd-_58 { width: 125px; height: 125px; background-position: -1340px -505px; }
.boardgame_icons-gold-hd-_59 { width: 98px; height: 105px; background-position: -1370px -1663px; }
.boardgame_icons-gold-hd-_60 { width: 53px; height: 120px; background-position: -493px -1016px; }
.boardgame_icons-gold-hd-_61 { width: 53px; height: 113px; background-position: -1699px -1232px; }
.boardgame_icons-gold-hd-_62 { width: 107px; height: 105px; background-position: -345px -1662px; }
.boardgame_icons-gold-hd-_63 { width: 90px; height: 139px; background-position: -664px -283px; }
.boardgame_icons-gold-hd-_64 { width: 78px; height: 139px; background-position: -756px -279px; }
.boardgame_icons-gold-hd-_65 { width: 90px; height: 122px; background-position: -1679px -497px; }
.boardgame_icons-gold-hd-_66 { width: 90px; height: 130px; background-position: -1190px -263px; }
.boardgame_icons-gold-hd-_67 { width: 78px; height: 138px; background-position: -900px -418px; }
.boardgame_icons-gold-hd-_68 { width: 90px; height: 130px; background-position: -1214px -395px; }
.boardgame_icons-gold-hd-_69 { width: 106px; height: 105px; background-position: -613px -1021px; }
.boardgame_icons-gold-hd-_70 { width: 118px; height: 109px; background-position: -127px -1539px; }
.boardgame_icons-gold-hd-_71 { width: 102px; height: 117px; background-position: -788px -1240px; }
.boardgame_icons-gold-hd-_72 { width: 102px; height: 117px; background-position: -853px -1478px; }
.boardgame_icons-gold-hd-_73 { width: 102px; height: 117px; background-position: -892px -1236px; }
.boardgame_icons-gold-hd-_74 { width: 102px; height: 117px; background-position: -929px -1355px; }
.boardgame_icons-gold-hd-_75 { width: 102px; height: 109px; background-position: -1595px -1232px; }
.boardgame_icons-gold-hd-_76 { width: 102px; height: 109px; background-position: -1339px -1333px; }
.boardgame_icons-gold-hd-_77 { width: 114px; height: 121px; background-position: -1326px -983px; }
.boardgame_icons-gold-hd-_78 { width: 114px; height: 121px; background-position: -1442px -995px; }
.boardgame_icons-gold-hd-_79 { width: 103px; height: 109px; background-position: -1074px -1228px; }
.boardgame_icons-gold-hd-_80 { width: 103px; height: 109px; background-position: -1164px -1566px; }
.boardgame_icons-gold-hd-_81 { width: 114px; height: 121px; background-position: -1558px -996px; }
.boardgame_icons-gold-hd-_82 { width: 114px; height: 121px; background-position: -457px -1533px; }
.boardgame_icons-gold-hd-_83 { width: 102px; height: 109px; background-position: -1341px -1444px; }
.boardgame_icons-gold-hd-_84 { width: 114px; height: 121px; background-position: -262px -974px; }
.boardgame_icons-gold-hd-_85 { width: 94px; height: 113px; background-position: -1053px -1451px; }
.boardgame_icons-gold-hd-_86 { width: 106px; height: 125px; background-position: -1658px -370px; }
.boardgame_icons-gold-hd-_87 { width: 102px; height: 126px; background-position: -1306px -377px; }
.boardgame_icons-gold-hd-_88 { width: 102px; height: 126px; background-position: -1536px -248px; }
.boardgame_icons-gold-hd-_89 { width: 114px; height: 139px; background-position: -836px -277px; }
.boardgame_icons-gold-hd-_90 { width: 114px; height: 139px; background-position: -952px -277px; }
.boardgame_icons-gold-hd-_91 { width: 103px; height: 110px; background-position: -1033px -1339px; }
.boardgame_icons-gold-hd-_92 { width: 103px; height: 110px; background-position: -1198px -1095px; }
.boardgame_icons-gold-hd-_93 { width: 115px; height: 122px; background-position: -1092px -880px; }
.boardgame_icons-gold-hd-_94 { width: 115px; height: 122px; background-position: -1209px -971px; }
.boardgame_icons-gold-hd-_95 { width: 94px; height: 113px; background-position: -1149px -1451px; }
.boardgame_icons-gold-hd-_96 { width: 94px; height: 113px; background-position: -1245px -1451px; }
.boardgame_icons-gold-hd-_97 { width: 106px; height: 125px; background-position: -790px -555px; }
.boardgame_icons-gold-hd-_98 { width: 106px; height: 125px; background-position: -331px -1411px; }
.boardgame_icons-gold-hd-_99 { width: 132px; height: 121px; background-position: -1318px -1px; }
.boardgame_icons-gold-hd-_100 { width: 132px; height: 139px; background-position: -1px -1px; }
.boardgame_icons-gold-hd-_101 { width: 132px; height: 139px; background-position: -1px -142px; }
.boardgame_icons-gold-hd-_102 { width: 132px; height: 139px; background-position: -135px -1px; }
.boardgame_icons-gold-hd-_103 { width: 130px; height: 136px; background-position: -269px -565px; }
.boardgame_icons-gold-hd-_104 { width: 130px; height: 136px; background-position: -403px -424px; }
.boardgame_icons-gold-hd-_105 { width: 131px; height: 139px; background-position: -671px -1px; }
.boardgame_icons-gold-hd-_106 { width: 132px; height: 139px; background-position: -1px -283px; }
.boardgame_icons-gold-hd-_107 { width: 132px; height: 139px; background-position: -135px -142px; }
.boardgame_icons-gold-hd-_108 { width: 132px; height: 139px; background-position: -269px -1px; }
.boardgame_icons-gold-hd-_109 { width: 132px; height: 121px; background-position: -1184px -1px; }
.boardgame_icons-gold-hd-_110 { width: 132px; height: 139px; background-position: -1px -424px; }
.boardgame_icons-gold-hd-_111 { width: 112px; height: 91px; background-position: -978px -667px; }
.boardgame_icons-gold-hd-_112 { width: 132px; height: 139px; background-position: -135px -283px; }
.boardgame_icons-gold-hd-_113 { width: 132px; height: 139px; background-position: -269px -142px; }
.boardgame_icons-gold-hd-_114 { width: 132px; height: 139px; background-position: -403px -1px; }
.boardgame_icons-gold-hd-_115 { width: 132px; height: 139px; background-position: -1px -565px; }
.boardgame_icons-gold-hd-_116 { width: 62px; height: 110px; background-position: -936px -1033px; }
.boardgame_icons-gold-hd-_117 { width: 60px; height: 112px; background-position: -1709px -720px; }
.boardgame_icons-gold-hd-_118 { width: 60px; height: 112px; background-position: -1709px -834px; }
.boardgame_icons-gold-hd-_119 { width: 63px; height: 110px; background-position: -548px -1014px; }
.boardgame_icons-gold-hd-_120 { width: 58px; height: 105px; background-position: -1698px -1347px; }
.boardgame_icons-gold-hd-_121 { width: 124px; height: 129px; background-position: -1px -1388px; }
.boardgame_icons-gold-hd-_122 { width: 124px; height: 129px; background-position: -1px -1519px; }
.boardgame_icons-gold-hd-_123 { width: 86px; height: 119px; background-position: -478px -1139px; }
.boardgame_icons-gold-hd-_124 { width: 110px; height: 112px; background-position: -980px -553px; }
.boardgame_icons-gold-hd-_125 { width: 104px; height: 112px; background-position: -1092px -1004px; }
.boardgame_icons-gold-hd-_126 { width: 122px; height: 129px; background-position: -664px -424px; }
.boardgame_icons-gold-hd-_127 { width: 122px; height: 129px; background-position: -1036px -132px; }
.boardgame_icons-gold-hd-_128 { width: 122px; height: 129px; background-position: -1160px -132px; }
.boardgame_icons-gold-hd-_129 { width: 102px; height: 117px; background-position: -573px -1502px; }
.boardgame_icons-gold-hd-_130 { width: 102px; height: 117px; background-position: -580px -1247px; }
.boardgame_icons-gold-hd-_131 { width: 102px; height: 117px; background-position: -684px -1247px; }
.boardgame_icons-gold-hd-_132 { width: 109px; height: 58px; background-position: -1053px -1566px; }
.boardgame_icons-gold-hd-_133 { width: 114px; height: 119px; background-position: -118px -1650px; }
.boardgame_icons-gold-hd-_137 { width: 109px; height: 119px; background-position: -1598px -757px; }
.boardgame_icons-gold-hd-_138 { width: 109px; height: 119px; background-position: -234px -1650px; }
.boardgame_icons-gold-hd-_139 { width: 110px; height: 133px; background-position: -788px -420px; }
.boardgame_icons-gold-hd-_140 { width: 98px; height: 106px; background-position: -1370px -1555px; }
.boardgame_icons-gold-hd-_141 { width: 113px; height: 116px; background-position: -1594px -878px; }
.boardgame_icons-gold-hd-_142 { width: 110px; height: 133px; background-position: -924px -142px; }
.boardgame_icons-gold-hd-_143 { width: 110px; height: 133px; background-position: -980px -418px; }
.boardgame_icons-gold-hd-_144 { width: 132px; height: 117px; background-position: -1452px -1px; }
.boardgame_icons-gold-hd-_145 { width: 90px; height: 125px; background-position: -1467px -505px; }
.boardgame_icons-gold-hd-_146 { width: 86px; height: 117px; background-position: -677px -1483px; }
.boardgame_icons-gold-hd-_147 { width: 86px; height: 117px; background-position: -765px -1481px; }
.boardgame_icons-gold-hd-_148 { width: 86px; height: 117px; background-position: -841px -1359px; }
.boardgame_icons-gold-hd-_149 { width: 82px; height: 113px; background-position: -757px -1366px; }
.boardgame_icons-gold-hd-_150 { width: 88px; height: 126px; background-position: -1520px -120px; }
.boardgame_icons-gold-hd-_151 { width: 103px; height: 108px; background-position: -1090px -1118px; }
.boardgame_icons-gold-hd-_152 { width: 125px; height: 122px; background-position: -1344px -632px; }
.boardgame_icons-gold-hd-_153 { width: 54px; height: 113px; background-position: -1714px -1109px; }
.boardgame_icons-gold-hd-_154 { width: 102px; height: 106px; background-position: -1303px -1106px; }
.boardgame_icons-gold-hd-_155 { width: 102px; height: 106px; background-position: -1407px -1118px; }
.boardgame_icons-gold-hd-_156 { width: 100px; height: 119px; background-position: -478px -1260px; }
.boardgame_icons-gold-hd-_157 { width: 125px; height: 92px; background-position: -1092px -786px; }
.boardgame_icons-gold-hd-_158 { width: 98px; height: 81px; background-position: -267px -764px; }
.boardgame_icons-gold-hd-_159 { width: 114px; height: 77px; background-position: -862px -859px; }
.boardgame_icons-gold-hd-_160 { width: 98px; height: 81px; background-position: -1443px -1341px; }
.boardgame_icons-gold-hd-_161 { width: 96px; height: 109px; background-position: -247px -1539px; }
.boardgame_icons-gold-hd-_162 { width: 132px; height: 81px; background-position: -1092px -527px; }
.boardgame_icons-gold-hd-_163 { width: 98px; height: 119px; background-position: -551px -1381px; }
.boardgame_icons-gold-hd-_164 { width: 132px; height: 113px; background-position: -1586px -1px; }
.boardgame_icons-gold-hd-_165 { width: 127px; height: 129px; background-position: -535px -424px; }
.boardgame_icons-gold-hd-_166 { width: 127px; height: 129px; background-position: -926px -1px; }
.boardgame_icons-gold-hd-_167 { width: 127px; height: 129px; background-position: -1055px -1px; }
.boardgame_icons-gold-hd-_168 { width: 94px; height: 113px; background-position: -957px -1474px; }
.boardgame_icons-gold-hd-_169 { width: 107px; height: 113px; background-position: -457px -1656px; }
.boardgame_icons-gold-hd-_170 { width: 114px; height: 113px; background-position: -782px -682px; }
.boardgame_icons-gold-hd-_171 { width: 115px; height: 121px; background-position: -745px -797px; }
.boardgame_icons-gold-hd-_173 { width: 122px; height: 129px; background-position: -1284px -124px; }
.boardgame_icons-gold-hd-_174 { width: 121px; height: 133px; background-position: -801px -142px; }
.boardgame_icons-gold-hd-_175 { width: 130px; height: 111px; background-position: -1092px -610px; }
.boardgame_icons-gold-hd-_176 { width: 123px; height: 117px; background-position: -502px -792px; }
.boardgame_icons-gold-hd-_177 { width: 128px; height: 135px; background-position: -671px -142px; }
.boardgame_icons-gold-hd-_178 { width: 132px; height: 139px; background-position: -135px -424px; }
.boardgame_icons-gold-hd-_179 { width: 132px; height: 139px; background-position: -269px -283px; }
.boardgame_icons-gold-hd-_180 { width: 132px; height: 139px; background-position: -403px -142px; }
.boardgame_icons-gold-hd-_181 { width: 110px; height: 123px; background-position: -1471px -632px; }
.boardgame_icons-gold-hd-_182 { width: 110px; height: 129px; background-position: -1408px -124px; }
.boardgame_icons-gold-hd-_183 { width: 110px; height: 121px; background-position: -366px -1287px; }
.boardgame_icons-gold-hd-_184 { width: 110px; height: 121px; background-position: -439px -1410px; }
.boardgame_icons-gold-hd-_185 { width: 110px; height: 101px; background-position: -502px -911px; }
.boardgame_icons-gold-hd-_186 { width: 110px; height: 101px; background-position: -614px -918px; }
.boardgame_icons-gold-hd-_187 { width: 110px; height: 93px; background-position: -838px -938px; }
.boardgame_icons-gold-hd-_188 { width: 110px; height: 101px; background-position: -726px -920px; }
.boardgame_icons-gold-hd-_189 { width: 78px; height: 93px; background-position: -898px -669px; }
.boardgame_icons-gold-hd-_190 { width: 110px; height: 93px; background-position: -777px -1145px; }
.boardgame_icons-gold-hd-_191 { width: 78px; height: 93px; background-position: -898px -764px; }
.boardgame_icons-gold-hd-_192 { width: 106px; height: 113px; background-position: -566px -1656px; }
.boardgame_icons-gold-hd-_193 { width: 78px; height: 109px; background-position: -898px -558px; }
.boardgame_icons-gold-hd-_194 { width: 102px; height: 89px; background-position: -889px -1145px; }
.boardgame_icons-gold-hd-_195 { width: 115px; height: 95px; background-position: -382px -919px; }
.boardgame_icons-gold-hd-_196 { width: 102px; height: 109px; background-position: -1179px -1228px; }
.boardgame_icons-gold-hd-_197 { width: 110px; height: 117px; background-position: -255px -1168px; }
.boardgame_icons-gold-hd-_198 { width: 58px; height: 65px; background-position: -1470px -1701px; }
.boardgame_icons-gold-hd-_199 { width: 58px; height: 65px; background-position: -1530px -1701px; }
.boardgame_icons-gold-hd-_200 { width: 58px; height: 65px; background-position: -753px -1602px; }
.boardgame_icons-gold-hd-_201 { width: 58px; height: 65px; background-position: -813px -1600px; }
.boardgame_icons-gold-hd-_202 { width: 58px; height: 65px; background-position: -873px -1597px; }
.boardgame_icons-gold-hd-_203 { width: 58px; height: 65px; background-position: -933px -1597px; }
.boardgame_icons-gold-hd-_204 { width: 58px; height: 65px; background-position: -993px -1589px; }
.boardgame_icons-gold-hd-_205 { width: 58px; height: 65px; background-position: -1053px -1626px; }
.boardgame_icons-gold-hd-_206 { width: 58px; height: 65px; background-position: -993px -1656px; }
.boardgame_icons-gold-hd-_207 { width: 58px; height: 65px; background-position: -1053px -1693px; }
.boardgame_icons-gold-hd-_208 { width: 50px; height: 57px; background-position: -778px -1669px; }
.boardgame_icons-gold-hd-_209 { width: 50px; height: 57px; background-position: -830px -1667px; }
.boardgame_icons-gold-hd-_210 { width: 50px; height: 57px; background-position: -1574px -1580px; }
.boardgame_icons-gold-hd-_211 { width: 50px; height: 57px; background-position: -1574px -1639px; }
.boardgame_icons-gold-hd-_212 { width: 50px; height: 57px; background-position: -1626px -1580px; }
.boardgame_icons-gold-hd-_213 { width: 50px; height: 57px; background-position: -1626px -1639px; }
.boardgame_icons-gold-hd-_214 { width: 51px; height: 57px; background-position: -882px -1664px; }
.boardgame_icons-gold-hd-_215 { width: 51px; height: 57px; background-position: -935px -1664px; }
.boardgame_icons-gold-hd-_216 { width: 51px; height: 57px; background-position: -269px -703px; }
.boardgame_icons-gold-hd-_217 { width: 51px; height: 57px; background-position: -322px -703px; }
.boardgame_icons-gold-hd-_218 { width: 58px; height: 65px; background-position: -1545px -1450px; }
.boardgame_icons-gold-hd-_219 { width: 58px; height: 65px; background-position: -1605px -1450px; }
.boardgame_icons-gold-hd-_220 { width: 50px; height: 61px; background-position: -1543px -1341px; }
.boardgame_icons-gold-hd-_221 { width: 50px; height: 61px; background-position: -674px -1705px; }
.boardgame_icons-gold-hd-_222 { width: 50px; height: 61px; background-position: -726px -1705px; }
.boardgame_icons-gold-hd-_223 { width: 50px; height: 61px; background-position: -1571px -1517px; }
.boardgame_icons-gold-hd-_224 { width: 50px; height: 61px; background-position: -1623px -1517px; }
.boardgame_icons-gold-hd-_225 { width: 50px; height: 61px; background-position: -1665px -1454px; }
.boardgame_icons-gold-hd-_226 { width: 50px; height: 61px; background-position: -1675px -1517px; }
.boardgame_icons-gold-hd-_227 { width: 50px; height: 61px; background-position: -1717px -1454px; }
.boardgame_icons-gold-hd-_228 { width: 50px; height: 61px; background-position: -1113px -1677px; }
.boardgame_icons-gold-hd-_229 { width: 50px; height: 61px; background-position: -1165px -1677px; }
.boardgame_icons-gold-hd-_230 { width: 50px; height: 61px; background-position: -1217px -1677px; }
.boardgame_icons-gold-hd-_231 { width: 50px; height: 61px; background-position: -1269px -1677px; }
.boardgame_icons-gold-hd-_232 { width: 132px; height: 139px; background-position: -537px -1px; }
.boardgame_icons-gold-hd-_233 { width: 131px; height: 139px; background-position: -1px -847px; }
.boardgame_icons-gold-hd-_234 { width: 132px; height: 139px; background-position: -1px -706px; }
.boardgame_icons-gold-hd-_235 { width: 132px; height: 139px; background-position: -135px -565px; }
.boardgame_icons-gold-hd-_236 { width: 132px; height: 139px; background-position: -269px -424px; }
.boardgame_icons-gold-hd-_237 { width: 132px; height: 139px; background-position: -403px -283px; }
.boardgame_icons-gold-hd-_238 { width: 132px; height: 139px; background-position: -537px -142px; }
.boardgame_icons-gold-hd-_239 { width: 130px; height: 139px; background-position: -135px -706px; }
.boardgame_icons-gold-hd-_240 { width: 121px; height: 105px; background-position: -1220px -751px; }
.boardgame_icons-gold-hd-_241 { width: 104px; height: 115px; background-position: -651px -1366px; }
.boardgame_icons-gold-hd-_242 { width: 90px; height: 110px; background-position: -1000px -985px; }
.boardgame_icons-gold-hd-_243 { width: 99px; height: 105px; background-position: -1470px -1531px; }
.boardgame_icons-gold-hd-_244 { width: 101px; height: 105px; background-position: -1595px -1343px; }
.boardgame_icons-gold-hd-_245 { width: 99px; height: 109px; background-position: -1269px -1566px; }
.boardgame_icons-gold-hd-_246 { width: 102px; height: 105px; background-position: -1387px -1226px; }
.boardgame_icons-gold-hd-_247 { width: 118px; height: 125px; background-position: -1610px -116px; }
.boardgame_icons-gold-hd-_248 { width: 118px; height: 125px; background-position: -1538px -376px; }
.boardgame_icons-gold-hd-_249 { width: 120px; height: 139px; background-position: -804px -1px; }
.boardgame_icons-gold-hd-book_open { width: 126px; height: 106px; background-position: -1343px -756px; }
.boardgame_icons-gold-hd-hand_cross { width: 109px; height: 115px; background-position: -367px -1139px; }
.boardgame_icons-gold-hd-hand_cube { width: 115px; height: 119px; background-position: -1px -1650px; }
.boardgame_icons-gold-hd-hand_hexagon { width: 113px; height: 121px; background-position: -378px -1016px; }
.boardgame_icons-gold-hd-resource_apple { width: 104px; height: 111px; background-position: -671px -1134px; }
