doctype html
html(lang="en")
	head
		title webgl dust ▮

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel='stylesheet' href='index.less')
		script(type='module' src='index.js')

		block headcontent

body
	block bodycontent
	canvas
	db