avessy#avessy_dust
	sequence
		command#add-option.SHOW_ONLY_ONE_PRINT

	print Я сидел вчера

	print Весь днень
	print Задеплоил эту
	print Хрень

	sequence
		command#remove-option.SHOW_ONLY_ONE_PRINT

	print.color-bright-1 
		image(src='https://i.imgur.com/UQREAea.jpg').noclicks

	print.flex.row-center Начать сценарий main: 
		icon#start-avessy.main.icon-sd-play-green
