avessy#avessy_manual.place-center.noclicks

	print.dark.fit-content.flex.column-center
		div.flex.row-center
			t.font-gold avessy 
			icon.icon-sd-star-gold
	
	print Привет! Это мануал для этой штуки.
		
