avessy#main 
	print.dust-0
		include:markdown-it avessy.md

	print yo 🍍  (#0). Кликай 🐁
	print этот элемент - #1 сообщение в нарративе.

	print А 
		button#remove-style.SHOW_ONLY_ONE_PRINT вот этой кнопкой 
		t можно посмотреть все сообщения

	print Варианты отображения:
		br
		button#add-style.SHOW_ONLY_ONE_PRINT скрыть лишнее
		button#remove-style.SHOW_ONLY_ONE_PRINT показывать все
		br
		t.font-b В режиме "отображения всего" не работают некоторые кнопки, например 
			icon.icon-sd-cross-red

	print 💡Элементы типа #[:markdown-it(inline) `print`] выводят новые сообщения
		icon#goto(arguments='readme').icon-sd-questionmark-yellow
		t.whisper <- тут можно прочитать подробнее


	print.flex.column-center Выбрать сценарий:
		br
		div.flex.row-center
			icon#start-avessy(arguments='avessy_menu').icon-sd-home-yellow.avessy_menu
			button#start-avessy.main main (текущий)
			button#start-avessy.avessy_dust dust

	print#readme.dark.font-b
		icon#hide.readme.icon-sd-cross-red
		include:markdown-it README.md
