avessy#avessy_manual

	cmd#add-option.SHOW_ONLY_ONE_PRINT

	print.dark.fit-content.flex.column-center.noclicks
		div.flex.row-center
			t.font-gold avessy 
			icon.icon-sd-star-gold
	
	glue.flex
		label.style-ref-b.left tynrare:
		print 
			whitespace
			t 👋Привет! Это мануал для этой штуки.
			br
			t Кликай по этим бабблам для продолжения.

	print ...

	print Эту страницу можно просматривать и в режиме скролла

	cmd#remove-option.SHOW_ONLY_ONE_PRINT 

	print.pinned
		button#toggle-style.SHOW_ONLY_ONE_PRINT переключить

	print ...
		
