avessy#avessy_manual.place-center
	cmd#add-option.SHOW_ONLY_ONE_PRINT

	print.dark.fit-content.flex.column-center.noclicks
		div.flex.row-center
			t.font-gold avessy 
			icon.icon-sd-star-gold
	
	glue.flex
		label.style-ref-b.left tynrare:
		print 
			whitespace
			t 👋Привет! Это мануал для этой штуки.
			br
			t Кликай по этим бабблам для продолжения.

	print ...

	print Эту страницу можно просматривать и в режиме скролла

	cmd#remove-option.SHOW_ONLY_ONE_PRINT 

	print.pinned
		button#toggle-style.SHOW_ONLY_ONE_PRINT переключить режим
		t.whisper (На самом деле эта кнопка прячет жучков)

	cmd#add-option.SHOW_ONLY_ONE_PRINT 

	print.dark ...
		t.whisper Тут кажись какая-то багулина 🐛 
		button#toggle-style(arguments='SHOW_ONLY_ONE_PRINT') посчитай всех жучков 🐛

	glue.flex
		label.style-ref-b.left Тим Борисов:
		print 
			t Мануал кончился пока.. 🧄

	glue.flex
		label.style-ref-a.left dust to ashes.
		print 
			whitespace
			:markdown-it `220304 06:21`. 🐛

	print
		t.whisper А, блин, уже 06:52

	glue.flex
		label.style-ref-b.left Тим Борисов:
		print 
			whitespace
			t пойду посплю
			t 🐛🐛🐛
		
	print ... размеры скачут как хотят

	glue.flex
		label.style-ref-b.right 🤷 🤷 🤷
		print 
			:markdown-it `220304 07:24`.... 07:44
