avessy#avessy_dust.place-center
	sequence
		cmd#add-option.SHOW_ONLY_ONE_PRINT

	print.flex.column-center
		img(src='https://cdn-icons.flaticon.com/png/512/3162/premium/3162533.png?token=exp=1646786888~hmac=a7d81a66febc326089674282c04029aa')
		t Ну, тапай. Кликай. Whatev
		t.whisper Текст, получается, обязательно нужен?

	print Я сидел вчера

	print Весь день
	print Задеплоил эту
	print.flex.row-center Хрень
		icon.icon-sd-star-gold

	sequence
		cmd#remove-option.SHOW_ONLY_ONE_PRINT

	print.color-bright-1 
		image(src='https://i.imgur.com/UQREAea.jpg').noclicks

	print.flex.row-center Начать сценарий main: 
		icon#start-avessy(arguments='main').icon-sd-play-green
