@import "dust-fonts.css";
@import "generated/icon-sd";
@import "../generic";

:root {
  --ref-border_radius: 20px;
  --ref-border_radius-1: 5px;
  --color-bright: #f2f2f2;
  --color-bright-1: #ffffe5;
  --shade-bright: #98b29b;
  --color-medium: #5d5d5d;
  --shade-medium: #4a4a4a;
  --color-muted: #b4af91;
  --shade-muted: #544b2b;
  --color-font-flat: #414143;
  --color-green: #46bf56;
  --shade-green: #034d28;
  --color-font-gold: #f0c755;
  --shade-font-gold: #ba4a02;
  --color-font-white: #ffffff;
  --shade-font-green: var(--shade-green);
  --dust-font_family: "Comfortaa", cursive;
  --dust-font_family-1: "Flow Rounded", cursive;
  //--dust-font_family-1: "Lato", sans-seri;
}

.panel-ref {
  // ---
  // ref https://graphicriver.net/item/game-gui-20/23647372
  background-color: var(--color-bright);
  color: var(--color-font-flat);

  border-radius: var(--ref-border_radius);
  border-bottom: 4px solid var(--shade-bright);

  padding: 8px;
}

// abstract
.font-ref {
  //--color: var(--color-font-white);
  //--shadow-color: var(--shade-muted);

  text-shadow: 0px 1px 0px var(--shadow-color), 0px 3px 0px var(--shadow-color);

  color: var(--color);
}

.font-green {
  --color: var(--color-font-white);
  --shadow-color: var(--shade-font-green);

  .font-ref();
}

.font-gold {
  --color: var(--color-font-gold);
  --shadow-color: var(--shade-font-gold);

  .font-ref();
}

.font-muted {
  --color: var(--color-font-white);
  --shadow-color: var(--shade-muted);

  .font-ref();
}

// abstract
.button-ref {
  //--shadow-color: var(--shade-muted);
  //--background-color: var(--color-muted);

  border-radius: var(--ref-border_radius-1);

  box-shadow: 0px 6px 0px 0px var(--shadow-color);
  background-color: var(--background-color);

  // font
  letter-spacing: -4px;
  font-size: 1em;
}

.button-ref-green {
  --background-color: var(--color-green);
  --shadow-color: var(--shade-green);

  .button-ref();
  .font-green();
}

.button-ref-muted {
  --background-color: var(--color-muted);
  --shadow-color: var(--shade-muted);

  .button-ref();
  .font-muted();
}

// Stylish avessy ---

avessy {
  @print-margin: 4px;
  &.dapp {
    & {
      margin: 0;
      display: flex;
      flex-direction: column;

      &.ashes-0 {
        min-height: 100%;
      }
    }

    &.showtime .dust-0 {
      display: none;
    }

    avessy {
      margin-bottom: 3em;
      &.place-center {
        margin-bottom: auto;
      }
      display: flex;
      flex-direction: column;
    }

    print {
      font-weight: bold;
      font-family: var(--dust-font_family);
      font-size: 32px;

      user-select: none;

			strong, h1, h2, h3, h4, h5, h6 {
				color: inherit;
			}

			img {
				border-radius: var(--ref-border_radius-1);
			}

      //margin: @print-margin auto;

      .panel-ref();
    }

    &.ashes-0 print {
      button,
      icon {
        pointer-events: all;
        cursor: pointer;
      }

      & * {
        pointer-events: none;
      }

			& a {
        pointer-events: all;
			}
    }

    print whitespace {
      display: block;
      height: 1em;
      width: 20ch;
    }

    print.dark {
      background-color: var(--color-medium);
      border-bottom: 4px solid var(--shade-medium);
      color: var(--color-font-white);
    }

		.font-b print,
    print.font-b,
    print .font-b {
      font-family: "Arial";
      font-size: 20px;
    }

    print.color-bright-1 {
      background-color: var(--color-bright-1);
    }

    .whisper {
      font-size: 0.5em;
    }

    button {
      .button-ref-green();
      margin: 4px 8px;
      padding: 4px 16px;
      //height: 50px;
    }

    icon {
      .sprite-icon-sd();
      margin: 0px 8px;
    }

    glue {
      display: flex;
      flex-direction: column;
    }

    label {
      display: flex;
      padding: 0px 40px;

      &.style-ref-a {
        .button-ref-muted();
        text-align: center;
        margin: auto;
        font-size: 40px;
        transform: translate(0, 50%);

        &.left {
          margin-left: var(--ref-border_radius);
        }

        &.right {
          margin-right: var(--ref-border_radius);
        }
      }
      &.style-ref-b {
        .panel-ref();
        .font-gold();

        border-radius: var(--ref-border_radius) var(--ref-border_radius) 0 0;
        border-bottom: none;
        text-align: center;
        margin: 0 auto;
        font-size: 40px;
        transform: translate(0, var(--ref-border_radius));
        padding: 0 10px;

        &.left {
          margin-left: 0;
        }

        &.right {
          margin-right: 0;
					margin-left: auto;
        }
      }
    }
  }
}

// Boring avessy ---

avessy {
  display: block;

  &.ashes-0 {
    &.noclicks print *,
    & print.noclicks * {
      pointer-events: none !important;
    }
  }

  print {
    display: block;
    margin: 4px 0;
  }
}

// Active avessy ---

avessy.dapp {
  &.MANAGE_CLICKS print {
    pointer-events: none;

    &.pinned {
      pointer-events: all;
    }
  }

  &.HIDE_UNACTIVE avessy {
    display: none;

    &.active {
      display: flex;
    }
  }

  &.SHOW_ONLY_ONE_PRINT avessy > * {
    display: none;
    pointer-events: all;

    &.reveal {
      display: block;

      &.flex {
        display: flex;
      }
    }
  }
}

// --- helpers
.place-center {
  margin: auto;
}

.fit-content {
  width: min-content;
}

.grow-content {
  width: 100%;
}

.flex.column-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex.row-center {
  display: flex;
  align-items: center;
  flex-direction: row;
}
