@import "dust-fonts.css";
@import "generated/icon-sd";

:root {
  --ref-border_radius: 20px;
  --ref-border_radius-1: 5px;
  --color-bright: #f2f2f2;
  --color-bright-1: #ffffe5;
  --shade-bright: #98b29b;
  --color-medium: #5d5d5d;
  --shade-medium: #4a4a4a;
  --color-font-flat: #414143;
  --color-green: #46bf56;
  --shade-green: #034d28;
  --color-font-gold: #f0c755;
  --shade-font-gold: #ba4a02;
  --color-font-white: #ffffff;
  --shade-font-green: var(--shade-green);
  --dust-font_family: "Comfortaa", cursive;
  --dust-font_family-1: "Flow Rounded", cursive;
  //--dust-font_family-1: "Lato", sans-seri;
}

.panel-ref {
  // ---
  // ref https://graphicriver.net/item/game-gui-20/23647372
  background-color: var(--color-bright);
  border-radius: var(--ref-border_radius);
  color: var(--color-font-flat);

  border-bottom: 4px solid var(--shade-bright);

  padding: 8px;
}

.font-green {
  text-shadow: 0px 1px 0px var(--shade-font-green),
    0px 3px 0px var(--shade-font-green);

  color: var(--color-font-white);
}

.button-ref {
  background-color: var(--color-green);
  border-radius: var(--ref-border_radius-1);

  //border-bottom: 6px solid var(--shade-green);
  box-shadow: 0px 6px 0px 0px var(--shade-green);

  // font
  .font-green();
  letter-spacing: -4px;
  font-size: 1em;
}

.font-gold {
  text-shadow: 0px 2px 0px var(--shade-font-gold);
  color: var(--color-font-gold);
}

// Stylish avessy ---

avessy {
  &.dapp {
    avessy {
      margin: 0px 10px;
    }

    print {
      font-weight: bold;
      font-family: var(--dust-font_family);
      font-size: 32px;

			user-select: none;

      .panel-ref();
    }

    print.dark {
      background-color: var(--color-medium);
      border-bottom: 4px solid var(--shade-medium);
      color: var(--color-font-white);
    }

    print.font-b,
    print .font-b {
      font-family: "Arial";
      font-size: 20px;
    }

    print.color-bright-1 {
      background-color: var(--color-bright-1);
    }

    .whisper {
      font-size: 0.5em;
    }

    button,
    icon {
      pointer-events: all;
      cursor: pointer;
    }

    button {
      .button-ref();
      margin: 4px 8px;
      padding: 4px 16px;
      //height: 50px;
    }

    icon {
      .sprite-icon-sd();
      margin: 0px 8px;
    }
  }

  &.showtime .dust-0 {
    display: none;
  }
}

// Boring avessy ---

avessy {
  .noclicks {
    pointer-events: none;
  }

  print {
    margin: 0.3em 0;
    width: 100%;

    display: block;

    &.flex.column-center,
    .flex.column-center {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &.flex.row-center,
    .flex.row-center {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }
}

// Active avessy ---

avessy.dapp {
  &.MANAGE_CLICKS print {
    pointer-events: none;
  }

  &.HIDE_UNACTIVE avessy {
    display: none;

    &.active {
      display: block;
    }
  }

  &.SHOW_ONLY_ONE_PRINT print {
    display: none;
    pointer-events: all;

    &.reveal {
      display: block;

      &.flex {
        display: flex;
      }
    }
  }
}
