extends ../dust

block headcontent
	title avessy ▮

block bodycontent
	db
		avessy.dapp.ashes-0
			// avessy
			// Попил ты их - 
			// И стал богат
			include avessy
			include avessy-dust
			include avessy-menu
			include avessy-globals
			include avessy-manual
