doctype html
html(lang="en")
	head
		title Tit for Tat ▮

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/water.css@2/out/water.css')
		script(type='module' src='titfortat.js')
		link(rel='stylesheet' href='../index.less')

		block headcontent

	body
		db: avessy.dust-220309.lib-headers
			print 
				t.big Tit for Tat
				icon.small.boardgame.boardgame_icons-gold-sd-book_open
			print a
			
		block bodycontent
