sequence
	print
		t.big Ботa "Nice guy"

	print
		button(cmd='titfortat niceguy 0'): icon.small.boardgame.boardgame_icons-gold-sd-hand_cube
		button(cmd='titfortat niceguy 1'): icon.small.boardgame.boardgame_icons-gold-sd-hand_cross

sequence
	print
		t.big Ботa "Random guy"

	print
		button(cmd='titfortat randomguy 0'): icon.small.boardgame.boardgame_icons-gold-sd-hand_cube
		button(cmd='titfortat randomguy 1'): icon.small.boardgame.boardgame_icons-gold-sd-hand_cross
